* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ec8874;
  color: white;
  padding: 10px 0;
  z-index: 3;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-link {
  margin: 0;
  font-size: 1.5rem;
}

.header-link:hover {
  border-left: 2px solid #f00;
  margin: 0;
  font-size: 1.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list-container {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

.nav-list-item {
  padding: 10px;
}

.nav-list-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.burger-menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 568px) {
  .burger-menu-icon {
    display: block;
  }

  .nav-list-container {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 98px;
    right: -100%;
    width: 100%;
    background-color: #de7c69;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
  }

  .nav-list-container.active {
    right: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  z-index: 2;
}

.overlay.active {
  display: block;
}

.no-scroll {
  overflow: hidden;
}