body {
  background-color: #ffffff;
  background-image: radial-gradient(#ff9f00 1.25px, #ffffff 1.25px);
  background-size: 25px 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  border-radius: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo h4 {
  margin: 0;
}

.logo_img {
  width: 34px;
  margin-right: 10px;
  border-radius: 50%;
}

.case-studies .color-cards .card-contents {
  border-radius: 30px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 30px;
}

.customer-feedback .customer-cards {
  border-radius: 100px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-us-bgimage {
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.warning {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 999999;
}

.warning--active {
  display: flex;
}

.warning__text {
  margin-right: 30px;
}

.warning__read {
  display: block;
  margin-left: 15px;
}

.warning__apply {
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  padding: 0 20px;
}

.warning__apply:hover {
  background: #cbffd0;
}

@media (max-width: 756px) {
  .warning {
    padding: 20px;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .warning {
    padding: 10px;
    font-size: 10px;
    transform: translate(-50%, -30%);
  }
}

.navbar {
  background-color: #fff;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: url("../images/hero-bg.jpeg") no-repeat;
  background-size: cover;
}

.btn-opacity-light, .btn-opacity-success {
  color: #000;
}

.case-studies .case-studies-card-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.case-studies .color-cards .card-contents {
  padding: 0;
}

.contact-us .contact-us-bgimage {
  padding: 200px 0;
  border-radius: 40px;
}