* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2rem;
}

h1,
h2,
h3 {
  line-height: 2.6rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.buttonBtn {
  background: #e44d26;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  transition: background 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.buttonBtn:hover {
  background: #e22d26;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
}

header a,
footer a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 6px;
  padding-left: 6px;
  transition: all 0.3s ease-in-out;
}

footer a,
footer p {
  color: #fff;
}

header a:hover,
footer a:hover {
  border-left: 2px solid #f00;
  color: #f00;
  border-radius: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ec8874;
  color: white;
  padding: 10px 0;
  z-index: 3;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header h1 a {
  margin: 0;
  font-size: 1.5rem;
}

.header h1 a {
  border-left: 2px solid #fff;
  margin: 0;
  font-size: 1.5rem;
}

.header h1 a:hover {
  border-left: 2px solid #f00;
  margin: 0;
  font-size: 1.5rem;
}

.header nav {
  display: flex;
  align-items: center;
}

.header .nav-list {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

.header .nav-list li {
  padding: 10px;
}

.header .nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.header .burger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 568px) {
  .header .burger-menu {
    display: block;
  }

  .header .nav-list {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 98px;
    left: 0;
    width: 100%;
    background-color: #de7c69;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header .nav-list.active {
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
}

.overlay.active {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.hero {
  padding: 20px;
  position: relative;
  height: 94vh;
  background: linear-gradient(rgb(62 22 22 / 80%), rgba(0, 0, 0, 0.9)),
    url(../img/hero-bg.jpg) no-repeat;
  background-size: 150%;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: heroScroll 40s infinite;
}

@keyframes heroScroll {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgb(62 22 22 / 80%), rgba(0, 0, 0, 0.9)),
      url(../img/hero-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    animation: none;
  }
}

.hero a {
  border: none;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #FF4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #FF6347;
}

.home-about {
  background: linear-gradient(45deg, #fff, #eee);
  color: #333;
  padding: 60px 20px;
  text-align: center;
  overflow: hidden;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2em;
  line-height: 1.6;
}

.about-image img {
  width: 100%;
  border: 10px solid #eee;
}

.about-image {
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  margin: 20px auto;
  overflow: hidden;
  transform: translateY(0px);
  transition: opacity 2s ease-in-out, transform 0.8s ease-in-out;
}

.about-additional {
  font-size: 1.2em;
  line-height: 1.6;
}

.about-image.in-viewport {
  opacity: 1;
  transform: translateY(0);
}

.home-servCards {
  background: linear-gradient(rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 0.9)), url("../img/serv.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 20px;
  text-align: center;
}

.home-servCards .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 868px) {
  .home-servCards .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .home-servCards .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.servCard {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
  transition: all 0.3s ease-in-out;
}

.servCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
  padding: 20px;
  background: #ec8874;
}

.card-icon {
  padding: 20px;
  background: #ec8874;
}

.card-icon img {
  width: 50px;
  height: 50px;
}

.card-text {
  padding: 20px;
}

.card-text h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 1.1em;
  line-height: 1.6;
}

.home-featured-products {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffdfdf;
}

.home-featured-products .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .home-featured-products .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .home-featured-products .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.featured-product {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.featured-product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-details {
  padding: 20px;
}

.product-details h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.price {
  font-size: 1.1em;
  color: #e44d26;
}

.order-button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.order-button:hover {
  background-color: #333;
}

.home-our-story {
  background: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.home-our-story p {
  margin: 10px;
}

.home-our-story .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 30%;
  height: 1px;
  background: #333;
  margin: 20px auto;
}

.story-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.story-content {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .home-our-story .container {
    justify-content: space-between;
  }

  .story-content {
    max-width: 800px;
    text-align: left;
  }
}

.testimonial-section {
  background: linear-gradient(rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 0.9)), url("../img/testimonial.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  text-align: center;
  overflow: hidden;
}

.testimonial-slider {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  transition: transform 0.5s ease-in-out;
}

.testimonial-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.testimonial-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin: 0 10px;
}

.testimonial-content img {
  border-radius: 40%;
  margin-bottom: 10px;
  max-width: 10%;
}

.testimonial-text {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.testimonial-author {
  font-weight: bold;
  color: #555;
}

.testimonial-navigation {
  margin-top: 20px;
}

.prev-button,
.next-button {
  background-color: #555;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px;
}

/* Footer styles */
footer {
  width: 100vw;
  background-color: #ec8874;
  color: #fff;
  padding: 10px 0;
}

footer h3 {
  line-height: 2rem;
  margin-top: 10px;
}

footer p {
  line-height: 1rem;
  margin-top: 10px;
}

footer a {
  border: none;
  padding: 0;
  line-height: 1.4rem;
}

footer a:hover {
  border: none;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  gap: 30px;
}

.footer-column {
  width: 30%;
}

.copyright {
  text-align: center;
}

@media (max-width: 668px) {
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-column {
    width: 80%;
    gap: 20px;
  }
}

.aboutUs {
  margin-top: 100px;
  padding: 60px 20px;
  background-color: #fff;
}

.aboutUs .container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.aboutUs .aboutUs-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutUs .aboutUs-image {
  flex: 1;
  margin-right: 20px;
}

.aboutUs .aboutUs-image img {
  width: 100%;
  border-radius: 8px;
}

.aboutUs .aboutUs-text {
  flex: 1;
}

.aboutUs-ul {
  margin-left: 20px;
}

.aboutUs-ul li {
  margin-left: 20px;
  list-style: square;
}

.aboutUs .aboutUs-text ul {
  padding: 0;
}

.aboutUs .about-text li {
  margin-bottom: 20px;
}

.aboutUs .about-text p {
  font-size: 1.1em;
  line-height: 1.6;
}

@media screen and (max-width: 968px) {
  .aboutUs .aboutUs-content {
    flex-direction: column-reverse;
  }

  .aboutUs .aboutUs-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.our-team-section {
  padding: 200px 20px;
  background: linear-gradient(45deg, #fff, #eee);
}

.our-team-section .container {
  text-align: center;
}

.our-team-section h2 {
  margin-bottom: 30px;
}

.team-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.team-card {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.card-front {
  cursor: pointer;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.team-card:hover .card-front {
  transform: rotateY(180deg);
}

.team-card:hover .card-back {
  transform: rotateY(0deg);
}

.team-card img {
  width: 100%;
  border-radius: 8px;
}

.team-card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.team-card p {
  font-size: 1em;
  line-height: 1.4;

}

.our-achievements-section {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/achievments.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 20px;
  color: #333;
}

.our-achievements-section .container {
  text-align: center;
}

.our-achievements-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.achievements-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.achievement-card {
  flex: 1;
  max-width: 250px;
  padding: 40px;
  border-radius: 8px;
  background-color: #ec8874;
  margin: 10px;
  transition: background-color 0.3s ease-in-out;
}

.achievement-card:hover {
  background-color: #2c3e50;
}

.card-content {
  text-align: center;
  color: #fff;
}

.count {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1.1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.contacts-form-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 100px 20px;
  max-width: 600px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
}

.name_mail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  outline: none;
  resize: none;
}

textarea {
  height: 100px;
}

input {
  width: 100%;
  font-size: 1rem;
  border-radius: 20px;
}

.checkPrivacy {
  display: flex;
  align-items: center;
}

#privacy-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkPrivacy a {
  border: none;
  color: #de7c69;
  padding: 0;
  text-decoration: underline;
}

button {
  background-color: #FF4500;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #FF2500;
}

p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.featured-block {
  background-color: #f8f8f8;
  padding: 100px 0;
  margin-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.block-content p {
  color: #555;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 15px;
}