* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  height: 30px;
  text-align: right;
}

.contact-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
}

.phone-number,
.email {
  margin-left: 20px;
}

.main-header {
  background-color: #fff;
  padding: 0 24px;
  height: 100px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
}

.nav-bar ul {
  list-style: none;
  display: flex;
}

.nav-bar li {
  margin-right: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.mobile-menu {
  position: fixed;
  top: 130px;
  transform: translateX(-110%);
  width: 40%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  margin-bottom: 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.mobile-menu.active {
  transform: translateX(0);
  /* Изменим left на transform */
}

.mobile-menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .main-header {
    flex-direction: row-reverse;
    align-items: center;
  }

  .burger-menu,
  .burger-icon {
    display: block;
  }
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

section {
  background: #F4F4F4;
}

.cookie-consent {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px;
  z-index: 999;
}

.cookie-buttons button {
  margin: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #fff;
}

#acceptButton {
  background: transparent;
  border: 1px solid #4CAF50;
}

#rejectButton {
  background: transparent;
  border: 1px solid #f44336;
}