* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --archivo: Arial, sans-serif;
  --solid--black: black;
  --archivo-black: "Archivo Black", sans-serif;
  --solid--cyan: #74e9f9;
  --border--border-1px: 1px;
  --solid--gray: #f9f9f9;
  --border--border-2px: 2px;
  --solid--violet: #e6a6da;
  --light--violet-light: #eaeaff;
  --light--cyan-light: #defffd;
  --solid--white: white;
  --radius--radius-8px: 8px;
  --radius--radius-16px: 16px;
  --radius--radius-32px: 32px;
  --mandarine\<deleted\|variable-1db72e22\>: #ffc482;
  --mandarine-light\<deleted\|variable-8316b56c\>: #ffecd7;
  --spacing--spacing-2rem: 2rem;
}

body {
  font-family: var(--archivo);
  color: var(--solid--black);
  font-size: 1rem;
  line-height: 120%;
  background-color: #ffffff;
  opacity: 1;
  background: repeating-linear-gradient(-45deg, #f6f7ff, #f6f7ff 2px, #ffffff 2px, #ffffff 10px);
}

h1 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  line-height: 110%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

h2 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

h3 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
}

h5 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 140%;
}

h6 {
  font-family: var(--archivo-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

p {
  margin-bottom: 10px;
}

a {
  color: var(--solid--black);
  font-family: Archivo, sans-serif;
  text-decoration: underline;
  transition: color .2s;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.button-group.is-center {
  justify-content: center;
}

.button {
  border: var(--border--border-1px) solid var(--solid--black);
  border-radius: var(--radius--radius-8px);
  background-color: var(--solid--black);
  box-shadow: 3px 3px 0 0 var(--solid--violet);
  font-family: var(--archivo);
  color: var(--solid--white);
  text-align: center;
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: box-shadow .2s;
}

.button:hover {
  box-shadow: 6px 6px 0 0 var(--solid--violet);
  color: var(--solid--white);
}

.button.is-small {
  padding: .5rem 1.25rem;
  font-size: 1.125rem;
}

.button.is-alternate {
  border-color: var(--solid--white);
  background-color: var(--solid--black);
  box-shadow: 4px 4px 0 0 var(--solid--white);
  color: var(--solid--white);
}

.button.is-alternate:hover {
  box-shadow: 10px 10px 0 0 var(--solid--white);
}

.button.is-alternate:active {
  box-shadow: 3px 3px 0 0 var(--solid--white);
}

.button.is-secondary {
  background-color: var(--solid--white);
  box-shadow: 3px 3px 0 0 var(--solid--cyan);
  color: var(--solid--black);
}

.button.is-secondary:hover {
  box-shadow: 6px 6px 0 0 var(--solid--cyan);
}

.button.is-neutral {
  background-color: var(--solid--white);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.margin-m {
  margin: 2rem;
}

.margin-bottom,
.margin-bottom.margin-xs,
.margin-bottom.margin-m,
.margin-bottom.margin-sdfkkbkb,
.margin-bottom.margin-xxs,
.margin-bottom.margin-lsdkjfbk,
.margin-bottom.margin-zero,
.margin-bottom.margin-xxl {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-lsdkjfbk {
  margin: 3rem;
}

.margin-sdfkkbkb {
  margin: 1.5rem;
}

.text-align-sldjfblbse {
  text-align: center;
}

.text-color-ksdjfksbf {
  color: #fff;
}

.text-style-sdljfbljsbf {
  color: var(--solid--black);
  font-weight: 700;
  text-decoration: underline;
  transition: color .2s;
}

.text-style-sdljfbljsbf:hover {
  color: #797979;
}

.text-size-lskdjfgdksfb {
  font-size: 1.75rem;
  line-height: 130%;
}

.text-weight-skdfbksffs {
  font-weight: 700;
}

.texte-style-span-sdflasjsvfsdf {
  color: var(--solid--white);
}

.texte-style-span-sdflasjsvfsdf:hover {
  color: rgba(255, 255, 255, .6);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 60px 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-h-1sdjhfvlsjdvf {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  margin-bottom: 5rem;
  display: flex;
}

.header-h-1sdjhfvlsjdvf-content-left,
.header-h-1sdjhfvlsjdvf-content-right {
  flex: 1;
}

.header-h-2sdfhvskdfj {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  margin-bottom: 5rem;
  display: flex;
}

.heading-style-asjldhfahsbf {
  font-family: var(--archivo-black);
  font-size: 1.312rem;
  font-weight: 400;
  line-height: 140%;
}

.navbar-sahdfblsabsf {
  align-items: center;
  display: flex;
  position: static;
}

.navbar-logo-sadfvkashvf {
  font-weight: 600;
  font-size: 30px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.navbar-sahdfblsabsf-button {
  padding: 0;
}

.navbar-linkaswer {
  font-family: var(--archivo);
  color: var(--solid--black);
  white-space: normal;
  padding: .5rem 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  transition: transform .5s;
}

.navbar-linkaswer:hover {
  transform: translate(3px);
}

.navbar-linkaswer:active {
  transform: none;
}

.navbar-linkaswer.w--current {
  color: #000;
}

.navbar-container {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar-sahdfblsabsf-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.navbar {
  min-height: 5.5rem;
  background-color: var(--solid--white);
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.navbar-sahdfblsabsf {
  align-items: center;
  display: flex;
  position: static;
  transition: transform 0.5s;
}

.navbar-sahdfblsabsf.show {
  display: flex;
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .navbar-sahdfblsabsf {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
    background-color: var(--solid--white);
    z-index: 1;
  }

  .navbar-sahdfblsabsf.show {
    display: flex;
  }

  .navbar-sahdfblsabsf-button {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .menu-icon {
    width: 20px;
    height: 20px;
  }

  .menu-icon-linesldfbkb-top,
  .menu-icon-linesldfbkb-middle,
  .menu-icon-linesldfbkb-bottom {
    height: 2px;
    background-color: var(--solid--black);
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .navbar-linkaswer {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

  .navbar-sahdfblsabsf.show {
    padding: 40px 20px;
    border-bottom: 10px solid #000;
  }
}

.section-hero {
  background-color: var(--solid--gray);
}

.hero-imsdfhblsf-qwrtowqtr {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero-imsdfhblsf {
  width: 100%;
  height: 100%;
  border-radius: var(--radius--radius-32px) var(--radius--radius-32px) 128px;
  object-fit: cover;
  position: relative;
}

.hero-imsdfhblsf-decor {
  z-index: 99;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.hero-comsdfksabfl {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.hero-imsdfhblsf-decor {
  z-index: 99;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.hero-sdfdsfdsffwe {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-top-sdfksfdkl {
  padding: var(--spacing--spacing-2rem);
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-32px);
  background-color: var(--light--violet-light);
  box-shadow: 6px 6px 0 0 var(--solid--violet);
}

.hero-bottom-sdfhglasfh {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-sdflaskdfgyuwetr {
  padding: var(--spacing--spacing-2rem);
  border: var(--border--border-1px) solid var(--solid--black);
  border-radius: var(--radius--radius-32px);
  box-shadow: 3px 3px 0 0 var(--solid--black);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.testimonials-customer-asdfhjslakf {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border: 3px solid var(--solid--white);
  object-fit: cover;
  border-radius: 100%;
}

.hero-button-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-button {
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--solid--black);
  color: #f0f0f0;
  text-align: center;
  background-color: rgba(240, 240, 240, 0);
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
  display: flex;
  position: relative;
  background: #323232;
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  cursor: pointer;
  color: var(--solid--black);
  background: #fff;
  text-decoration: none;
}

.hero-button-text {
  z-index: 1;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.testimonials-logo {
  max-height: 3rem;
}

.testimonials-customer-asdfhjslakf {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border: 3px solid var(--solid--white);
  object-fit: cover;
  border-radius: 100%;
}

.testimonial-component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.testimonials-content {
  width: 100%;
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-16px);
  background-color: var(--light--cyan-light);
  box-shadow: 6px 6px 0 0 var(--solid--cyan);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  transition: box-shadow .2s, background-color .2s;
  display: flex;
}

.testimonials-content:hover {
  background-color: var(--solid--gray);
  box-shadow: 10px 10px #000;
}

.testimonials-content:active {
  background-color: var(--solid--white);
}

.testimonials-client {
  text-align: left;
  align-items: center;
  display: flex;
}

.testimonials-client-image-wrapper {
  margin-right: 1rem;
}

.testimonials-logo-wrapper {
  margin-bottom: 2rem;
}

.padding-section-l {
  background-image: url("https://assets-global.website-files.com/65465ba679857998750f8fd2/65465ba679857998750f8fd9_dots%20mixed.svg");
  background-position: 100% 99%;
  background-repeat: no-repeat;
  background-size: auto;
}

.rc-bottom-component {
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  display: flex;
}

.newsletter-content {
  flex: 1;
}

.newsletter-form-component {
  max-width: 30rem;
  margin-bottom: 0;
}

.newsletter-component {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  display: grid;
}

.signup-form-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.section-newsletter {
  background-color: var(--solid--black);
  background-image: url("../img/news-bg.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  border: var(--border--border-1px) solid var(--solid--black);
  color: #000;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

.form-input:focus {
  background-color: var(--solid--gray);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input.is-text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
  resize: vertical;
}

.solutions-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  justify-items: center;
  display: grid;
}

.solutions-component {
  flex-direction: column;
  align-items: center;
}

.solutions-item {
  width: 100%;
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-16px);
  background-color: var(--light--violet-light);
  box-shadow: 6px 6px 0 0 var(--solid--violet);
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .2s;
  display: flex;
}

.solutions-item:hover {
  box-shadow: 7px 7px 0 0 var(--solid--black);
}

.section-logos {
  background-color: var(--solid--black);
  background-image: url("../img/partners-bg.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.logos {
  max-height: 3.5rem;
}

.logos-row {
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.blog-title-wrapper {
  margin-bottom: .5rem;
}

.blog-item-content {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1rem 1.5rem 1.5rem;
  display: flex;
}

.section-blog {
  background-color: var(--solid--white);
}

.blog-component {
  flex-direction: column;
  align-items: center;
}

.blog-item-link {
  height: 100%;
  color: var(--solid--black);
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  display: flex;
}

.blog-image-wrapper {
  width: 100%;
  padding-top: 66%;
  position: relative;
}

.blog-list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.blog-item {
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-16px);
  background-color: var(--solid--white);
  box-shadow: 6px 6px 0 0 var(--solid--cyan);
  transition: box-shadow .2s;
  overflow: hidden;
}

.blog-item:hover {
  box-shadow: 6px 6px 0 0 var(--solid--black);
}

.social-image {
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color .2s;
}

.social-image:hover {
  background-color: var(--light--cyan-light);
}

.blog-date-wrapper {
  align-items: center;
  display: flex;
}

.blog-author-wrapper {
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  display: flex;
}

.blog-2-item {
  background-color: var(--mandarine-light\<deleted\|variable-8316b56c\>);
  transition: background-color .5s, box-shadow .5s;
  box-shadow: 4px 4px #000;
}

.blog-2-item:hover {
  background-color: var(--solid--white);
  box-shadow: 10px 10px #000;
}

.blog-2-item:active {
  box-shadow: 3px 3px #000;
}

.blog-featured-item {
  background-color: var(--mandarine\<deleted\|variable-1db72e22\>);
  border-top-left-radius: 100px;
  margin-bottom: 4rem;
  transition: background-color .5s, box-shadow .5s;
  display: flex;
  box-shadow: 4px 4px #000;
}

.blog-featured-item:hover {
  background-color: var(--solid--white);
  box-shadow: 10px 10px #000;
}

.blog-featured-item:active {
  box-shadow: 3px 3px #000;
}

.blog-author-image {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border: 3px solid var(--solid--white);
  object-fit: cover;
  border-radius: 100%;
}

.blog-author-image-wrapper {
  margin-right: 1rem;
}

.footer {
  background-color: var(--solid--black);
}

.footer-bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-social-link {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  color: var(--solid--white);
  align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-weight: 700;
  text-decoration: none;
  transition: transform .5s;
  display: flex;
}

.footer-social-link:hover {
  color: rgba(255, 255, 255, .6);
  transform: translate(3px);
}

.footer-social-link:active {
  transform: none;
}

.footer-form-block {
  max-width: 35rem;
  margin-bottom: 0;
}

.footer-link {
  color: var(--solid--white);
  padding-top: .25rem;
  padding-bottom: .5rem;
  font-weight: 700;
  text-decoration: none;
  transition: transform .5s;
}

.footer-link:hover {
  color: rgba(255, 255, 255, .6);
  transform: translate(3px);
}

.footer-link:active {
  transform: none;
}

.footer-logo-link {
  padding-left: 0;
}

.footer-credit-text {
  color: var(--solid--white);
  font-size: .875rem;
}

.footer-form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: .75rem;
  display: grid;
}

.footer-legal-link {
  color: var(--solid--white);
  text-align: center;
  font-size: .875rem;
  text-decoration: underline;
}

.footer-legal-link:hover {
  color: rgba(255, 255, 255, .6);
}

.footer-link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.footer-left-wrapper {
  flex-direction: column;
  display: flex;
}

.footer-menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.footer-legal-list {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.footer-wrapper {
  grid-column-gap: 128px;
  grid-row-gap: 128px;
  grid-template-rows: auto;
}

.pricing-content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.pricing-feature {
  display: flex;
}

.pricing-components {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.pricing-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.pricing-plan {
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-32px);
  box-shadow: 6px 6px 0 0 var(--solid--cyan);
  padding: 2rem;
}

.pricing-plan.is-recommended {
  background-color: var(--light--violet-light);
  box-shadow: 6px 6px 0 0 var(--solid--violet);
}

.pricing-plan.is-highest {
  background-color: var(--light--cyan-light);
}

.pricing-feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.text-weight-bold {
  font-weight: 700;
}

.results-text-percent,
.price-text-monthly {
  font-family: Archivo Black, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
}

.price-text-yearly {
  font-family: Archivo, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.monthly-span {
  font-size: 1.5rem;
}

.job-title-wrapper {
  cursor: pointer;
  align-items: center;
  display: flex;
}

.job-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.job-item {
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-32px);
  background-color: var(--light--violet-light);
  box-shadow: 6px 6px 0 0 var(--solid--violet);
  margin-bottom: 2.5rem;
  padding: 2rem;
}

.career-job-details-wrapper {
  flex-wrap: wrap;
  display: flex;
}

.career-detail-wrapper {
  align-items: center;
  margin-right: 1.5rem;
  display: flex;
}

.career-icon-wrapper {
  margin-right: .75rem;
}

.margin-top,
.margin-top.margin-xs,
.margin-top.margin-huge,
.margin-top.margin-m {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.job-image-wrapper {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.job-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius--radius-32px) var(--radius--radius-32px) 128px;
  object-fit: cover;
  position: relative;
}

.contact-component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.contact-contact-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.contact-form-block {
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
}

.contact-icon-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex: none;
  align-self: flex-start;
  align-items: center;
  margin-right: 1rem;
  display: flex;
}

.contact-form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border: var(--border--border-2px) solid var(--solid--black);
  border-radius: var(--radius--radius-32px);
  background-color: var(--light--violet-light);
  box-shadow: 6px 6px 0 0 var(--solid--violet);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 2rem;
  display: grid;
}

.contact-item {
  display: flex;
}

.register-form-wrapper {
  width: 100%;
  max-width: 30rem;
  background-color: var(--mandarine\<deleted\|variable-1db72e22\>);
  border: 3px solid #000;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  box-shadow: 10px 10px #000;
}

.icon-1x1-s {
  width: 2rem;
  height: 2rem;
}

.form-input {
  height: auto;
  min-height: 2.75rem;
  border: var(--border--border-1px) solid var(--solid--black);
  color: #000;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

.form-input:focus {
  background-color: var(--solid--gray);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, .6);
}

.form-input.is-text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.text-size-s {
  font-size: .9rem;
  line-height: 130%;
}

.field-label {
  margin-bottom: .5rem;
  font-weight: 700;
}

.form-field-wrapper {
  position: relative;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button, [type="button"], [type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.w-input, .w-select {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.w-input:-moz-placeholder, .w-select:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder, .w-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input::-webkit-input-placeholder, .w-select::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus, .w-select:focus {
  border-color: #3898ec;
  outline: 0;
}

.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly], fieldset[disabled] .w-input, fieldset[disabled] .w-select {
  cursor: not-allowed;
}

.w-input[disabled]:not(.w-input-disabled), .w-select[disabled]:not(.w-input-disabled), .w-input[readonly], .w-select[readonly], fieldset[disabled]:not(.w-input-disabled) .w-input, fieldset[disabled]:not(.w-input-disabled) .w-select {
  background-color: #eee;
}

textarea.w-input, textarea.w-select {
  height: auto;
}

.w-select {
  background-color: #f3f3f3;
}

.w-select[multiple] {
  height: auto;
}

.w-form-label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  display: inline-block;
}

.w-radio {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-radio:before, .w-radio:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-radio:after {
  clear: both;
}

.w-radio-input {
  float: left;
  margin: 3px 0 0 -20px;
  line-height: normal;
}

.loc_icon_text {
  max-width: 300px;
}