body {
  font-family: arial, sans-sheriff;
  text-align: center;
  background-color: #3f37d3;
  overflow: hidden;
}

.canvas {
  height: 100vh;
  width: 100vw;
}

#score {
  margin-bottom: 20px;
  color: #fff;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.balloon {
  position: absolute;
  width: 70px;
  height: 80px;
  background-size: cover;
  cursor: pointer;
  background: url("./balloon.png") no-repeat;
  background-size: cover;
  animation: fade 0.3s ease-out;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}