main {
  padding: 2rem;
  max-width: 1000px;
  margin: 40px auto;
}

h2 {
  color: #fff;
  font-size: 1.8rem !important;
  text-shadow: none;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 40px !important;
  text-shadow: none;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
  color: #eee;
}