body {
  background: #fff;
}

.footer {
  background: #dcffec;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: 40px auto;
  border-bottom: 2px dashed #000;
}

h2 {
  color: #333;
  font-size: 1.8rem !important;
  text-shadow: none;
}

p {
  margin-bottom: 1rem;
  color: #555;
}