* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #353640;
  --primary: #005450;
  --green: #068466;
  --light-bgr-color: #fff;
  --white: white;
  --transparent: rgba(0, 0, 0, 0);
  --grey: #dbdbdb;
  --orange: #ffc776;
  --black: black;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #393d93;
  font-size: 1rem;
  line-height: 120%;
  background-color: #ffffff;
  background-color: #ffffff;
  opacity: 1;
  background-image: linear-gradient(135deg, #f2fffe 25%, transparent 25%),
    linear-gradient(225deg, #f2fffe 25%, transparent 25%),
    linear-gradient(45deg, #f2fffe 25%, transparent 25%),
    linear-gradient(315deg, #f2fffe 25%, #ffffff 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 40px 40px;
  background-repeat: repeat;
}

.sdfbskdfblshdfb {
  align-items: center;
  display: flex;
  position: static;
}

.navbar-sdfjbskjb {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.sdlkfnnsdf {
  padding: 0;
}

.sdfbjhsbfjsd {
  font-family: var(--archivo);
  color: var(--solid--black);
  white-space: normal;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  transition: transform 0.5s;
}

.sdfbjhsbfjsd:hover {
  opacity: 0.7;
}

.sdfbjhsbfjsd:active {
  transform: none;
}

.navbar-container {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar {
  min-height: 5.5rem;
  background-color: var(--solid--white);
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  border-bottom: 10px solid #00ffa6;
}

.sdfbskdfblshdfb {
  align-items: center;
  display: flex;
  position: static;
  transition: transform 0.5s;
}

@media (max-width: 1000px) {
  .sdfbskdfblshdfb {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
    background-color: var(--solid--white);
    z-index: 1;
  }

  .sdfbskdfblshdfb.show {
    display: flex;
    background: #fff;
    border-bottom: 20px solid #00ffa6;
  }

  .sdlkfnnsdf {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .menu-icon {
    width: 20px;
    height: 20px;
  }

  .menu-fsdhfgjhsbweuywet-top,
  .menu-fsdhfgjhsbweuywet-middle,
  .menu-fsdhfgjhsbweuywet-bottom {
    height: 2px;
    background-color: #000;
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .sdfbjhsbfjsd {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}

html {
  -ms-ygtuwtuvbcvnvgadjust: 100%;
  -webkit-ygtuwtuvbcvnvgadjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #393d93;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.uweyriwybd {
  max-width: 100%;
  display: inline-block;
}

.sdbfkshbfs {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.sdbfkshbfs {
  -webkit-appearance: button;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  font-weight: 700;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.hjsdfjsvdfk:before,
.hjsdfjsvdfk:after {
  content: ' ';
  grid-area: 1/1/2/2;
  display: table;
}

.hjsdfjsvdfk:after {
  clear: both;
}

.sdhfvsdfkshf {
  margin: 0 0 15px;
}

.sdhfvsdfkshf-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.sdhfvsdfkshf-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

label {
  margin-bottom: 5px;
  font-weight: 700;
  display: block;
}

.uwieriwutrw {
  width: 100%;
  height: 38px;
  color: #393d93;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.uwieriwutrw:-moz-placeholder {
  color: #999;
}

.uwieriwutrw::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.uwieriwutrw::-webkit-input-placeholder {
  color: #999;
}

.uwieriwutrw:focus {
  border-color: #3898ec;
  outline: 0;
}

textarea.uwieriwutrw {
  height: auto;
}

.sdhfvsdfkshf-label {
  cursor: pointer;
  margin-bottom: 0;
  font-weight: 400;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .skdhfvks-brand {
    padding-left: 10px;
  }
}

.skdhfvks-brand {
  float: left;
  color: #393d93;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 767px) {
  .skdhfvks-brand {
    padding-left: 10px;
  }
}

.sdbvjhvuuwylayout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.sdbvjhvuuwycheckbox {
  margin-bottom: 5px;
  display: block;
}

.sdbvjhvuuwycheckbox:before {
  content: ' ';
  grid-area: 1/1/2/2;
  display: table;
}

.sdbvjhvuuwycheckbox:after {
  content: ' ';
  clear: both;
  grid-area: 1/1/2/2;
  display: table;
}

.sdbvjhvuuwycheckbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.sdbvjhvuuwycheckbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

body {
  color: #393d93;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

h1 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 120%;
}

p {
  margin-bottom: 10px;
  line-height: 150%;
}

a {
  color: #393d93;
  text-decoration: underline;
}

a:hover {
  color: #666;
}

.padding-section-m {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hjsdvfuyutwinput {
  height: auto;
  min-height: 2.75rem;
  background-color: #fff;
  border: 1px solid #4d1fcc;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.hjsdvfuyutwinput:hover {
  border-color: #7f7f7f;
}

.hjsdvfuyutwinput:focus {
  border-color: #000;
}

.hjsdvfuyutwinput::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.hjsdvfuyutwinput.is-text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  overflow: auto;
  resize: none;
}

.wegw {
  font-size: 0.875rem;
}

.yuwteriwtr {
  margin: 1rem;
}

.jwevfiwvicw,
.jwevfiwvicw.padding-xl {
  padding-left: 0;
  padding-right: 0;
}

.bvdjshvdu {
  margin: 0.5rem;
}

.hjsdvuvwydvuv {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.yusdvusvwhite {
  color: #fff;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
}

.sdhbfjshss {
  font-size: 1.125rem;
  line-height: 150%;
}

.jhsdvusv {
  padding: 1.5rem;
}

.hjsdvfuyutwfield-wrapper {
  position: relative;
}

.ygtuwtuvbcvnvgtiny {
  font-size: 0.75rem;
}

.sjvsgh {
  padding-left: 5%;
  padding-right: 5%;
}

.jhdvs {
  width: 100%;
  max-width: 48rem;
}

.text-weight-bold {
  font-weight: 700;
}

.hjsdvfuyutwcheckbox {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.margin-vertical,
.margin-vertical.bvdjshvdu {
  margin-left: 0;
  margin-right: 0;
}

.field-label {
  color: #4d1fcc;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.hjsdvfuyutwcheckbox-label {
  margin-bottom: 0;
  margin-left: 10px;
}

.icon-embed-xs {
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.margin-top,
.margin-top.margin-m {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.container-l {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-xl {
  padding: 4rem;
}

.padding-section-s {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.heading-style-h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 140%;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.padding-top,
.padding-top.jhsdvusv {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.hjsdvfuyutwcheckbox-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  cursor: pointer;
  border: 1px solid #4d1fcc;
  border-radius: 4px;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: 0.5rem;
  transition: all 0.2s;
}

.button-wrapper-blog-item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button {
  z-index: 100;
  color: #393d93;
  text-align: center;
  text-transform: uppercase;
  background-color: #00ffa6;
  border: 1px solid #00ffa6;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #fff;
}

.button.is-icon {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-secondary {
  background-color: #fff;
}

.button.is-secondary:hover {
  background-color: #fff;
}

.heading-style-h1 {
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 120%;
}

.margin-m {
  margin: 2rem;
}

.margin-bottom,
.margin-bottom.yuwteriwtr,
.margin-bottom.margin-m,
.margin-bottom.margin-s,
.margin-bottom.bvdjshvdu {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-s {
  margin: 1.5rem;
}

.text-style-link-1 {
  color: #00ffa6;
  font-weight: 600;
  text-decoration: underline;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140%;
}

.margin-zero {
  margin: 0;
}

.ygtuwtuvbcvnvgregular {
  font-size: 1rem;
}

.navbar-container {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar {
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: #fff;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.hero-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 200px;
}

.hero-image-wrapper {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.cta-1-content {
  flex: 1;
}

.success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.cta-1-hjsdvfuyutwcomponent {
  max-width: 30rem;
  margin-bottom: 0;
}

.cta-1-component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 0.5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  display: grid;
}

.cta-1-hjsdvfuyutwwrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: 1rem;
  display: grid;
}

.error-text {
  color: #e23939;
  font-weight: 600;
}

.success-text {
  color: #393d93;
  font-weight: 600;
}

.section-cta-1 {
  background-color: #4d1fcc;
}

.home-services-items {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.home-services-item {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

.home-services-item:hover {
  color: #fff;
  background-color: #4d1fcc;
}

.section-cta-2 {
  background-color: #4d1fcc;
}

.home-blog-list {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.home-blog-link {
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  overflow: hidden;
}

.home-blog-link:hover {
  color: #fff;
  background-color: #4d1fcc;
}

.home-blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.home-blog-date-wrapper {
  align-items: center;
  display: flex;
}

.home-blog-author-image-wrapper {
  margin-right: 1rem;
}

.home-blog-author-image {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  object-fit: cover;
  border-radius: 100%;
}

.home-blog-image-wrapper {
  width: 100%;
  padding-top: 66%;
  position: relative;
  overflow: hidden;
}

.home-blog-title-wrapper {
  margin-bottom: 0.5rem;
}

.home-blog-author-wrapper {
  align-items: center;
  margin-top: 1rem;
  display: flex;
}

.home-blog-item-content {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1.5rem;
  display: flex;
}

.testimonial-client-image {
  width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.testimonial-client-image-wrapper {
  margin-right: 1.25rem;
}

.testimonial-logo {
  max-height: 3rem;
}

.testimonial-client {
  text-align: left;
  align-items: center;
  display: flex;
}

.testimonial-divider {
  width: 1px;
  background-color: #00ffa6;
  align-self: stretch;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.testimonial-items {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.testimonial-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
  position: relative;
}

.footer-bottom-wrapper {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  display: flex;
}

.footer-credit-text {
  font-size: 0.875rem;
}

.footer-logo-link {
  padding-left: 0;
}

.footer-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.footer-top-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

.footer-left-wrapper {
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  padding: 1.5rem;
  display: flex;
}

.footer-menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  background-color: #fff;
  border-radius: 4px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 1.5rem;
}

.horizontal-line {
  height: 2px;
  max-width: 100%;
  background-color: #00ffa6;
}

.tag-text {
  max-width: 75%;
  color: #393d93;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 150%;
}

.tag-text.yusdvusvwhite {
  color: #fff;
}

.line-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.tag-text-and-line {
  margin-bottom: 8rem;
  position: relative;
}

.testimonial-text {
  color: #666;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
}

.decoration-shape-1 {
  max-height: 2rem;
  position: absolute;
  top: 0.5rem;
  bottom: auto;
  left: auto;
  right: 0%;
}

.fake-button {
  z-index: 100;
  color: #393d93;
  text-align: center;
  text-transform: uppercase;
  background-color: #00ffa6;
  border: 1px solid #00ffa6;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  transition: background-color 0.2s;
  position: relative;
  bottom: -300px;
}

.fake-button:hover {
  background-color: #fff;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.testimonial-image-wrapper {
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logos-component {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.logos-image {
  max-height: 3.5rem;
}

.section-logos {
  background-color: #fff;
}

.home-services-component,
.home-blog-component,
.testimonial-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-style-link-2 {
  color: #393d93;
  font-weight: 600;
  text-decoration: underline;
}

.text-style-link-2:hover {
  color: #666;
}

.heading-content-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.about-1-image {
  width: 100%;
  height: 100%;
}

.about-1-image-wrapper {
  border-radius: 4px;
  overflow: hidden;
}

.about-1-content {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.about-1-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.results-component {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.results-item {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  background-color: #fff;
  padding: 1.5rem;
}

.contact-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.error-message-2 {
  color: #a10000;
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
  font-size: 1rem;
}

.success-message-2 {
  background-color: #f4f4f4;
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.contact-hjsdvfuyutwcomponent {
  background-color: #fff;
  border-radius: 4px;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  padding: 1.5rem;
}

.contact-contact-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.contact-form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.pricing-feature {
  display: flex;
}

.pricing-feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: grid;
}

.pricing-plans {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.pricing-plan {
  background-color: #fff;
  border-radius: 40px;
  padding: 1.5rem;
  border: 2px dashed #4d1fcc;
}

.pricing-plan.background-color-black-700 {
  background-color: #4d1fcc;
}

.pricing-plan.background-color-gray-200 {
  background-color: #fff;
}

.pricing-icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.pricing-content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.pricing-component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.results-header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .padding-section-m {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .jwevfiwvicw {
    padding-left: 0;
    padding-right: 0;
  }

  .hjsdvuvwydvuv {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .heading-style-h2 {
    font-size: 3rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-xl {
    padding: 3.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .cta-1-content {
    margin-right: 0;
  }

  .cta-1-component {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .home-services-items,
  .home-blog-list {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-items {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
  }

  .footer-top-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .about-1-content {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .results-component {
    grid-column-gap: 2rem;
  }

  .contact-wrapper {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .pricing-plans {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .padding-section-m {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .yuwteriwtr {
    margin: 0.75rem;
  }

  .jwevfiwvicw {
    padding-left: 0;
    padding-right: 0;
  }

  .hjsdvuvwydvuv {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h2 {
    font-size: 2.8rem;
  }

  .sdhbfjshss {
    font-size: 1rem;
  }

  .jhsdvusv {
    padding: 1.25rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-xl {
    padding: 2.5rem;
  }

  .padding-section-s {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h1 {
    font-size: 3.7rem;
  }

  .margin-m {
    margin: 1.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-s {
    margin: 1.25rem;
  }

  .navbar {
    height: auto;
    min-height: 4rem;
  }

  .cta-1-content {
    margin-right: 0;
  }

  .cta-1-component {
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home-services-items {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .home-blog-list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .testimonial-client-image-wrapper {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .testimonial-client-info {
    margin-bottom: 1rem;
  }

  .testimonial-client {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .testimonial-items {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .footer-bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-credit-text {
    margin-top: 1.5rem;
  }

  .footer-menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .logos-component {
    padding-top: 1rem;
  }

  .logos-image {
    max-height: 3rem;
  }

  .results-component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .contact-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .pricing-plans {
    grid-template-columns: 1fr;
  }

  .pricing-plan {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .results-header {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  .jwevfiwvicw {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h1 {
    font-size: 2.2rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .cta-1-hjsdvfuyutwwrapper {
    grid-row-gap: 0.75rem;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .home-services-items {
    grid-template-columns: 1fr;
  }

  .home-blog-item-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .footer-menu-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .logos-component {
    justify-content: center;
  }

  .results-component,
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}