* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.kKdqqPkLZM {
  align-items: center;
  display: flex;
  position: static;
}

.vuAHQoZgCS {
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
}

.CiGnqYvLDW {
  padding: 0;
}

.wbeyqpQrmn {
  white-space: normal;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  transition: transform 0.5s;
}

.wbeyqpQrmn:hover {
  opacity: 0.7;
}

.wbeyqpQrmn:active {
  transform: none;
}

.MupoBVQoeG {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.VZXlThkmGV {
  height: 80px;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.kKdqqPkLZM {
  align-items: center;
  display: flex;
  position: static;
  transition: transform 0.5s;
}

@media (max-width: 1000px) {
  .kKdqqPkLZM {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .CiGnqYvLDW {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .kKdqqPkLZM.show {
    height: 100vh;
    display: flex;
    background: #eee;
    z-index: 9999;
    padding-top: 80px;
  }

  .eTeapOJQpI {
    width: 20px;
    height: 20px;
  }

  .OOAWdBtZtu,
  .xuHkDHxDbV,
  .uTYrfYUAWJ {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .wbeyqpQrmn {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}


details,
footer,
header,
main,
nav,
section {
  display: block;
}


canvas {
  vertical-align: baseline;
  display: inline-block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}


input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}


input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.luNWtsjVlb {
  max-width: 100%;
  display: inline-block;
}

.YUhgLdEmKi {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.YUhgLdEmKi {
  appearance: button;
  -webkit-appearance: button;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.PdDDJGLrRM {
  padding-left: 0;
  list-style: none;
}

.WhZMkFWghg:before,
.WhZMkFWghg:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.WhZMkFWghg:after {
  clear: both;
}

.PhRfmpPgIM {
  margin: 0 0 15px;
}

.UFxZPEovQe {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.xiZoQXsGKQ {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

.ALuNTaDjFh {
  width: 100%;
  height: 38px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.ALuNTaDjFh:-moz-placeholder {
  color: #999;
}

.ALuNTaDjFh::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.ALuNTaDjFh::-webkit-input-placeholder {
  color: #999;
}

.ALuNTaDjFh:focus {
  border-color: #3898ec;
  outline: 0;
}

textarea.ALuNTaDjFh {
  height: auto;
}

.gueuiTAJPJ {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gueuiTAJPJ:before,
.gueuiTAJPJ:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.gueuiTAJPJ:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .gueuiTAJPJ {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .gueuiTAJPJ {
    max-width: none;
  }
}

.IVvBNkSMHy:before,
.IVvBNkSMHy:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.IVvBNkSMHy:after {
  clear: both;
}


.IVvBNkSMHy ul {
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --body-color: #545454;
  --heading-color: #051424;
  --secondary-color: #6bae85;
  --primary-color: #a05dfb;
  --white-color: white;
  --default-bg: #0f0c20;
  --white-smoke: #f6f6f6;
}

.IFcRTekKDi {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.jCFNptGVFi {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .IFcRTekKDi {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .IFcRTekKDi {
    max-width: none;
  }
}

body {
  color: var(--body-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.67;
}

h1 {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline-block;
}

.tyAIyDToux {
  max-width: 960px;
}

.nhtOltPCMN {
  height: 60px;
  min-width: 164px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.5;
}

.nhtOltPCMN.CWQgnejoNt {
  background-color: var(--primary-color);
  transition: background-color .3s;
}

.nhtOltPCMN.CWQgnejoNt:hover {
  background-color: var(--secondary-color);
}

.nhtOltPCMN.CWQgnejoNt {
  background-color: #a05dfb;
  transition: background-color .3s;
}

.nhtOltPCMN.CWQgnejoNt:hover {
  background-color: #6bae85;
}

.MGRjXkjlJS {
  color: #a0a0a0;
}

.fEEYAaLfCW {
  position: relative;
  overflow: hidden;
}

.fEEYAaLfCW.zbDjdfZGhP {
  background-color: var(--default-bg);
  align-items: center;
  display: flex;
}

.WAkwlLxPkG {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-start;
  display: flex;
}

.WAkwlLxPkG.wXhEwZfmWo {
  flex-direction: column;
}

.WAkwlLxPkG.wXhEwZfmWo.gRWVsRrXPI {
  padding-bottom: 35px;
}

.WAkwlLxPkG.ddBfIFjigv {
  padding-bottom: 0;
}

.aChTopuPbd {
  color: #fff;
  text-decoration: none;
  transition: color .3s;
}

.aChTopuPbd:hover {
  color: var(--primary-color);
}

.dgbUGoytKn {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.uCvfIzXcYB {
  width: 100%;
  max-width: 540px;
  position: relative;
}

.vELHFnWibM {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 7fr 5fr;
}

.BzNfqujfdq {
  color: #fff;
  letter-spacing: -.16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 0;
  padding-right: 35px;
}

.BzNfqujfdq:focus {
  border-color: #fff;
}

.BzNfqujfdq::-ms-input-placeholder {
  color: #fff;
}

.BzNfqujfdq::placeholder {
  color: #fff;
}

.oBynCerUxX {
  background-color: #f4f7ff;
}

.adnufmtrQS {
  color: #393939;
  font-size: 16px;
}

.mbcqMeJhsp {
  color: #4a4a4a;
  letter-spacing: -.18px;
  text-decoration: none;
  transition: color .3s;
}

.mbcqMeJhsp:hover {
  color: #346dff;
}

.mbcqMeJhsp.eEvyYvfYsj {
  color: #fff;
  padding-top: 45px;
}

.mbcqMeJhsp.eEvyYvfYsj:hover {
  color: var(--primary-color);
}

.AyZFaHMUXZ {
  width: 100%;
  max-width: 260px;
  color: #fff;
  margin-bottom: 0;
}

.qlrYBwwHyl {
  text-decoration: none;
  transition: color .3s;
}

.qlrYBwwHyl:hover {
  opacity: 1;
}

.qlrYBwwHyl.tGbWUyXuRo {
  color: var(--white-color);

  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.qlrYBwwHyl.tGbWUyXuRo:hover {
  color: var(--primary-color);
}

.fnrqCQiyqv {
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.375;
}

.hUkFTYZyrG {
  padding-top: 100px;
  padding-bottom: 100px;
}

.DOmGmGXsDE {
  line-height: 1;
}

.MmGudxPvsM {
  width: 100%;
  text-align: center;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 40px;
}

.vXgHUfAMen {
  color: #4a4a4a;

  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
}

.vXgHUfAMen:hover {
  color: var(--primary-color);
}

.yAyFBNwQaU {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: flex;
}

.TBPbBmAYFZ {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.TCsAlZSyBS {
  z-index: 1;
}

.TCsAlZSyBS.CbSLQcnynU {
  background-color: var(--heading-color);
  background-image: url("https://assets-global.website-files.com/64ed7fa61fdfd6c8428dff4f/64f0522b7ed31a6e3ef1b54e_footer-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.RzNTTlmYvN {
  max-width: 350px;
  color: var(--white-color);
  margin-bottom: 40px;
}

.QIgfHDYrQd {
  color: #cbcbcb;
  background-color: rgba(56, 152, 236, 0);
  background-image: url("https://assets-global.website-files.com/64ed7fa61fdfd6c8428dff4f/6530e43e0bb49d25a58c921e_newsletter-arrow-icon.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.yyYdgqSixu {
  position: relative;
}

.TqFxiqZBPQ {
  position: relative;
}

.TqFxiqZBPQ.tjDxsCHINB {
  padding-top: 61px;
}

.XzSMYCnCzv {
  padding-top: 100px;
}

.PpvbihbXbB {
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  align-items: center;
  display: flex;
}

.XLgGwRVOZM {
  width: 100%;
  max-width: 471px;
  position: relative;
}

.DTncjxpxMN {
  letter-spacing: .72px;
  margin-bottom: 20px;
}

.zVFrNkeIvE {
  color: var(--primary-color);
}

.RYjXZKBXpc {
  max-width: 420px;
  margin-bottom: 25px;
}

.IqvGRrGamE {
  flex-direction: column;
  display: flex;
}

.KTLunVGlgW {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.iARkSxuIPK {
  width: 100%;
  max-width: 670px;
  border-radius: 56px 16px;
}

.qblOJgtXFn {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3px 1fr 3px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 45px 50px 35px;
  display: grid;
}

.qblOJgtXFn.ATluZgeoYE {
  padding: 0;
}

.OMwRYAPlIM {
  color: var(--heading-color);
  letter-spacing: -.36px;
  align-items: center;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  display: flex;
}

.jPhrjjFEYV {
  letter-spacing: -.16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.UJePhhBcrp {
  width: 100%;
  max-width: 370px;
}

.sbDYqkyFqy.pXVPfiGOav {
  width: 100%;
}

.FaUgunueJL {
  opacity: .07;
  color: rgba(0, 0, 0, 0);
  letter-spacing: 7.7px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--body-color);
  white-space: nowrap;

  font-size: 70px;
  font-weight: 900;
  line-height: 1;
  display: none;
  transform: rotate(-90deg);
}

.FaUgunueJL.oocskxxjhL {
  position: absolute;
  bottom: 50%;
  right: -245px;
  transform: translate(0, 50%)rotate(-90deg);
}

.FaUgunueJL.nWwpuAQlLm {
  position: absolute;
  bottom: 50%;
  left: -240px;
  transform: translate(0, 50%)rotate(-90deg);
}

.iDxnEPrHfG.REIeSQrJfw {
  background-color: #0f0c20;
}

.iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
  padding-top: 320px;
  padding-bottom: 100px;
}

.ZWehmVtyDp {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 65px;
}

.ZWehmVtyDp.GcvFOCKdtD {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.TIHFEojBaE {
  color: var(--white-color);
}

.aWXQDKlrrd {
  max-width: 410px;
  margin-bottom: 0;
}

.aWXQDKlrrd.brYkJaZWgb.sugxwJSLuY {
  margin-left: auto;
  margin-right: auto;
}

.brYkJaZWgb {
  color: #fff;
}

.vibvMbQtED {
  flex-direction: column;
  display: flex;
}

.vibvMbQtED.WFMwnZpdUx {
  text-align: center;
}

.kShSoHcCFH.eeLfopQYrx {
  margin-bottom: 40px;
}

.vfQtryUxXD.oTVziDsMiA {
  padding-top: 75px;
}

.rqLzSNPpUr {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.oMIbJhkzOD {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  overflow: hidden;
}

.OFlqpEQmig {
  background-color: #f6f6f6;
  border-radius: 28px;
  flex-direction: column;
  padding: 43px 30px 28px;
  display: flex;
  position: relative;
}

.vzokGWJzin {
  margin-bottom: 25px;
  position: relative;
}

.hEvlznqpIF {
  color: var(--heading-color);
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: color .3s;
  position: relative;
}

.hEvlznqpIF:hover {
  color: var(--primary-color);
}

.vlGwjYjmAY {
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.lmCICrpGSt {
  position: relative;
}

.oQLRvlMXYv ul {
  grid-row-gap: 15px;
  flex-direction: column;
  margin-left: -20px;
  display: flex;
}

.oQLRvlMXYv.DweOwtplAN {
  padding-top: 20px;
  position: relative;
}

.oQLRvlMXYv.DweOwtplAN li {
  list-style-type: square;
}

.QtFwKZZXro {
  justify-content: center;
  margin-top: 70px;
  display: flex;
  position: relative;
}

.dqBEXVWDuC {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.hqttdcDoyF {
  color: var(--white-color);
  letter-spacing: -.18px;
  background-color: #0f0c20;
  border: 1px solid #f6f6f6;
  border-radius: 70px;
  padding: 15px 32px;
  position: relative;
}

.NrloYlcPvh {
  color: var(--primary-color);
  text-decoration: none;
  transition: color .3s;
}

.NrloYlcPvh:hover {
  color: var(--secondary-color);
}

.YgQdmLMnOO {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.SboGbZPYsw {
  margin-top: -84px;
  padding-right: 52px;
  position: relative;
}

.SBKuexnJpH {
  position: absolute;
  top: 35%;
  right: 0;
  transform: translate(0, -50%);
}

.vPHrECsjOn {
  max-width: 400px;
  margin-bottom: 20px;
}

.DLvkaAjvOZ {
  grid-row-gap: 35px;
  flex-direction: column;
  padding-top: 40px;
  display: flex;
}

.rjNyxwvkfh {
  max-width: 460px;
}

.QLtVnDSxLx {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.aSNpjOzYhD {
  width: 60px;
  height: 60px;
}

.HAHNssMIky {
  margin-bottom: 15px;
  line-height: 1;
}

.xQpPSpFpDA {
  margin-bottom: 0;
}

.PYBaxvmrfa {
  max-width: 350px;
  margin-bottom: 0;
}

.DCopVLmEHH {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uGGrebgVMZ.IHqPdvrFEc {
  padding-top: 45px;
}

.yNldoWgOHp {
  position: relative;
}

.yNldoWgOHp.XBxoRxOheh {
  padding-left: 14px;
}

.KZvNEONyVJ {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #0f0c20;
  border-radius: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 72px 64px;
  display: grid;
}

.EAhYaOFeYu {
  width: 100%;
  max-width: 375px;
}

.MDNJYVghrO {
  color: var(--white-color);
  margin-bottom: 35px;
}

.WObFPQBrge {
  grid-column-gap: 16px;
  display: flex;
}

.oeUExmgOJU {
  width: 100%;
  max-width: 350px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.mLIMpCrWeL {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1px 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.mLIMpCrWeL.oTVziDsMiA {
  padding-top: 75px;
}

.Lwqpjlpunu {
  margin-bottom: 5px;
}

.sWdEYLKjoV {
  width: 1px;
  height: 200px;
  background-color: #dbdbdb;
}

.AeIDmfpyCV {
  font-size: 20px;
  line-height: 1.583;
}

.AeIDmfpyCV.EdoAJPkYno {
  margin-bottom: 30px;
}

.ekTNYhSDms {
  width: 100%;
  max-width: 523px;
  margin-bottom: 0;
}

.FqKIitAcAK {
  max-width: 460px;
  margin-bottom: 0;
}

.sZBisXkyta {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.zbzMVISYOL {
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.YQnaVULZTY {
  border-radius: 24px;
}

.rrHoHrersk {
  padding-top: 10px;
}

.bGKFJivYxJ {
  grid-column-gap: 10px;
  color: var(--body-color);
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  transition: color .3s;
  display: flex;
}

.bGKFJivYxJ:hover {
  color: var(--primary-color);
}

.qhffCfBjGY {
  width: 8px;
  height: 8px;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  border-radius: 2px;
}

.mybSIZHJMb {
  color: #fff;
}

.WERnthpjeG {
  color: var(--heading-color);

  font-size: 20px;
  font-weight: 600;
  transition: color .3s;
  display: block;
}

.WERnthpjeG:hover {
  color: var(--primary-color);
}

.EDpcpiHMSY {
  grid-column-gap: 16px;
  display: flex;
}

.sJLaGpdzSP {
  color: var(--body-color);
  font-size: 16px;
  text-decoration: none;
  transition: color .3s;
}

.sJLaGpdzSP:hover {
  color: var(--primary-color);
}

.yWvpLVVFfO {
  width: 8px;
  height: 8px;
  background-color: var(--body-color);
  border-radius: 2px;
}

.bxzMFzgbCC {
  grid-column-gap: 16px;
  align-items: center;
  display: flex;
}

.XQvJuiIMgK {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.BIrBtTJbsS {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 3fr 6fr 3fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 205px;
  padding-bottom: 205px;
  display: grid;
}

.BwWKuNdPAg.WFMwnZpdUx {
  z-index: 1;
  text-align: center;
  position: relative;
}

.BzNfsHopsD {
  max-width: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-image: linear-gradient(to right, rgba(26, 30, 51, .5) 3.83%, rgba(37, 31, 71, .25) 79.23%);
  border-radius: 65px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 25px;
  display: flex;
}

.PpCRWYZRce {
  max-width: 515px;
  color: #fff;
  margin: 25px auto 30px;

  font-size: 45px;
  font-weight: 800;
}

.UXdbCCkAIp {
  z-index: 2;
  border-radius: 62px 24px 50px;
  position: relative;
}

.JDVfyhzWEp {
  position: relative;
}

.qPFfpYpZRx {
  z-index: 2;
  border-radius: 62px 24px 50px;
  position: relative;
}

.HsUsWaHfwZ {
  border-radius: 62px 24px 50px;
}

.gKbJuJGuNQ {
  width: 60%;
  height: 60%;
  filter: blur(55px);
  background-color: rgba(107, 174, 133, .16);
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.rzCAKlgQcK.EdoAJPkYno {
  margin-bottom: 30px;
}

.cCAboHedbR {
  text-decoration: none;
}

.jisEPpRgMB {
  max-width: 520px;
  margin-bottom: 170px;
}

.bxVblBRhOk {
  background-color: #f6f6f6;
}

.ZQZLxZMJDk {
  grid-column-gap: 48px;
  align-items: center;
  display: flex;
}

.LBUzjrbIHN {
  grid-column-gap: 15px;
  align-items: center;
  display: flex;
}

.bkMspYAFah {

  font-weight: 600;
}

.cjeTODeaIQ {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-top: 80px;
}

.zBELCzXPlg {
  width: 100%;
  max-width: 471px;
  position: relative;
}

.ZhYpPFfhAa {
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.oFAhCNLhAQ {
  z-index: 2;
  color: var(--heading-color);
  justify-content: space-between;
  align-items: center;

  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
}

.UeNKzsfbGc {
  background-color: var(--white-color);
  border-radius: 6px;
  padding: 5px 15px;
}

.nDPPfEPeYH {
  align-items: center;
  display: flex;
}

.NJScUcYeKj {
  border-radius: 8px;
  transform: rotate(16.444deg);
}

.PIJFxZvgzX {
  cursor: pointer;
  background-color: #f6f6f6;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 40px 20px 32px;
  position: relative;
}

.NPnkdvYGJE {
  z-index: 1;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.YPtQgGbImN {
  position: relative;
  overflow: hidden;
}

.YPtQgGbImN.wxhzlfqlBu {
  background-color: var(--default-bg);
}

.NflqhdHBXw {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 150px;
  display: grid;
}

.TGzXkRgguu {
  max-width: 400px;
  margin-bottom: 25px;
  overflow: visible;
}

.TGzXkRgguu.brYkJaZWgb.gojNzPFOtd {
  max-width: 660px;
}

.wKLWAUtrem {
  min-width: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(26, 30, 51, .5) 3.83%, rgba(37, 31, 71, .25) 79.23%);
  border-radius: 65px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  padding: 8px 25px;
  display: inline-block;
}

.wKLWAUtrem.sugxwJSLuY {
  margin-left: auto;
  margin-right: auto;
}

.gFoeWthPFE {
  color: #a0a0a0;
}

.SdiGtJQdyw {
  margin-top: -20px;
}

.LGIJfFvEJB {
  max-width: 410px;
  position: relative;
}

.udJCiGNyvu {
  z-index: 1;
  height: 100%;
  border-top-left-radius: 235px;
  border-top-right-radius: 235px;
  padding-right: 21px;
  position: relative;
}

.yyQpScmUTe {
  max-width: 390px;
  margin-bottom: 0;
}

.WYXienwJIM {
  background-color: var(--default-bg);
}

.TgepDsvHfr {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.eYeVHCcYdd {
  width: 100%;
  border-top-left-radius: 287px;
  border-top-right-radius: 287px;
}

.pjANLEUKqL {
  text-align: center;
  padding-top: 15px;
}

.MqMJmSiApU {
  color: var(--white-color);
  margin-bottom: 0;
}

.OQXKBRKpkA {
  color: #ccc;
}

.EbpumYgMRq {
  max-width: 410px;
  margin-bottom: 0;
}

.ERerWLDSJq {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  position: relative;
}

.VjhsBcxuAr {
  min-height: 400px;
  color: var(--body-color);
  border: 1px solid #4a4a4a;
  border-radius: 13px;
  margin-bottom: 0;
  padding: 25px 30px;
  font-size: 16px;
}

.VjhsBcxuAr:focus {
  border-color: var(--primary-color);
}

.VjhsBcxuAr::-ms-input-placeholder {
  color: #4a4a4a;
}

.VjhsBcxuAr::placeholder {
  color: #4a4a4a;
}

.VjhsBcxuAr.aapaKFVxIM {
  min-height: 160px;
}

.TCFBPyyGgv {
  height: 100%;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.NwwWYlCTFb {
  display: flex;
}

.hUsbVsbeWs {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.SFfOKlhdMx {
  width: 100%;
  height: 60px;
  color: var(--body-color);
  border: 1px solid #4a4a4a;
  border-radius: 13px;
  margin-bottom: 0;
  padding: 25px 20px;
  font-size: 16px;
}

.SFfOKlhdMx:focus {
  border-color: var(--primary-color);
}

.SFfOKlhdMx::-ms-input-placeholder {
  color: #4a4a4a;
}

.SFfOKlhdMx::placeholder {
  color: #4a4a4a;
}

.SFfOKlhdMx.nybkEmFHyF {
  margin-right: 30px;
}

.YZbJyHejmw {
  margin-bottom: 0;
}

.FaOlZogtgo {
  margin-bottom: 15px;

  font-weight: 400;
}

.FaOlZogtgo.TePvgnLuMI {
  margin-left: auto;
  margin-right: auto;
}

.tKYNVbrOSJ {
  letter-spacing: .72px;
  margin-bottom: 5px;
}

.qmUggMmRNd {
  max-width: 520px;
}

.qmUggMmRNd.TePvgnLuMI {
  margin-left: auto;
  margin-right: auto;
}

.RoBEnvjCGT {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 45px;
  display: grid;
}

.qjqPZTzgEC {
  background-color: var(--white-color);
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 45px;
  display: flex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
}

.QZhnbtyEEl {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(280deg, var(--primary-color), var(--secondary-color));
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
}

.aMeleDjSCI {
  color: var(--white-color);
  line-height: 1;
}

.YulWTMDVhe {
  margin-bottom: 15px;
  font-size: 20px;
}

.cambAeXccK {
  color: var(--body-color);
  text-decoration: none;
  transition: color .3s;
}

.cambAeXccK:hover {
  color: var(--secondary-color);
}

.DWKzXPcBWQ {
  margin-bottom: 0;
}

.NuoIBubINd {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.SbwQCTylfw {
  border-radius: 24px;
}

.uRCwLvBEGM {
  padding-top: 25px;
}

.QxUAJhVSVk {
  text-align: center;
  margin-bottom: 35px;
}

.WFMwnZpdUx {
  text-align: center;
}

.uhisilwtjE {
  z-index: 3;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 2000px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -7px;
  right: 0%;
}

.uhisilwtjE.QxyOvepPoy {
  top: 0%;
}

.uhisilwtjE.GTmJMPiutW {
  top: 18%;
}

.uhisilwtjE.JuLvJYqiYE {
  top: 40%;
}

.uhisilwtjE.cWkHzTYkaG {
  top: 80%;
}

.XCZhOAuwYy {
  width: 100%;
  height: 2%;
  background-color: var(--primary-color);
  border-radius: 1000px;
}

.dXJJPiiLhI {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr max-content 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  justify-items: center;
  display: flex;
}

.dXJJPiiLhI.oTVziDsMiA {
  padding-top: 75px;
}

.AOWUdNcdjx {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fnxmLbyNpX {
  width: 7px;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  position: relative;
}

.RteOEWVCBl {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.GLkOVJLGLN,
.DOdqzuyvTj,
.RsplLIekGn,
.AsYJzKeLlF {
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.uNJKixBJsS,
.DJsFnRwpqG {
  border-radius: 30px 70px;
}

.YoWWAIFDqY {
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.YoWWAIFDqY.RakESrJfvh {
  min-height: 370px;
  justify-content: center;
}

.ZMreQJxXIh {
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.rPKximPwnP {
  border-radius: 30px 70px;
}

.ApGetZfYee {
  position: relative;
}

.lnwYyqbqor {
  height: 60px;
  min-width: 164px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 8px;
  padding: 18px 15px;
  line-height: 1.5;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.SSqgBXvOJV {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.jMxnCekiTO {
  height: 60px;
  min-width: 164px;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 8px;
  padding: 18px 15px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.BIEKNvKrTN {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.mhTtEbvHPP {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mhTtEbvHPP.OxXXnqcWgJ {
  margin-bottom: -220px;
  padding-top: 25px;
}

.xejOoLNiIi {
  width: 100%;
  height: 100%;
  opacity: .26;
  filter: blur(55px);
  background-color: #6bae85;
  border-radius: 647px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(3.9deg)translate(-50%, -50%);
}

.zPyjEUaoKU {
  margin-bottom: 0;
}

.fNaawhuUEY {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.gBWhzLUDMG {
  border-radius: 180px 40px 40px 140px;
}

.PYhQNHrIJp {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.PYhQNHrIJp.oTVziDsMiA {
  margin-top: 30px;
  display: flex;
}

.WWDbSuwaRa {
  position: relative;
}

.vVWoiWfAUn {
  width: 100%;
  height: 100%;
  border-top-left-radius: 287px;
  border-top-right-radius: 287px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cyLgfCWyUm {
  width: 3px;
  height: 60px;
  background-color: #dbdbdb;
}

.sgwKuPdOFF,
.mVZqMBbJxk {
  width: 3px;
  height: 7px;
  background-color: var(--secondary-color);
}

.fEXRkrRHHG {
  width: 3px;
  height: 60px;
  background-color: var(--body-color);
}

.ZxqWOmMjsR,
.MFmjvMvTYa {
  width: 3px;
  height: 7px;
  background-color: var(--primary-color);
}

.yEodZItYJT {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.aZANggxmhW {
  color: var(--white-color);
  letter-spacing: -.16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.sUKDmWDqRd {
  position: relative;
  overflow: hidden;
}

.sUKDmWDqRd.tCyMzXWMkL {
  border-radius: 30px 90px;
}

.sUKDmWDqRd.gFvRFlOcnJ {
  border-radius: 30px 70px;
}

.sUKDmWDqRd.fARkaCqwXz {
  border-radius: 90px 30px 70px;
}

.sUKDmWDqRd.MTcYwBObup {
  border-radius: 90px 30px;
}

.sUKDmWDqRd.TBBZvpiTkX {
  border-radius: 180px 40px 40px 140px;
}

.YKDkrvbSfn {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .3;
  background-color: #0c1523;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.TeScrWTtiS {
  width: 200%;
  height: 200%;
  background-color: #000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

@media screen and (min-width: 1280px) {

  .tyAIyDToux {
    max-width: 1170px;
  }

  .fEEYAaLfCW {
    position: relative;
  }

  .AyZFaHMUXZ {
    max-width: 280px;
  }

  .hUkFTYZyrG {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .yAyFBNwQaU {
    justify-content: space-between;
  }

  .XzSMYCnCzv {
    padding-top: 110px;
  }

  .KTLunVGlgW {
    grid-column-gap: 70px;
    grid-row-gap: 70px;
  }

  .UJePhhBcrp.gojNzPFOtd {
    max-width: 510px;
    margin-top: -30px;
  }

  .sbDYqkyFqy.pXVPfiGOav {
    width: 100%;
  }

  .FaUgunueJL {
    display: block;
  }

  .FaUgunueJL.oocskxxjhL {
    display: none;
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 330px;
    padding-bottom: 110px;
  }

  .OFlqpEQmig {
    padding-left: 40px;
    padding-right: 40px;
  }

  .SBKuexnJpH {
    top: 204px;
    transform: none;
  }

  .DCopVLmEHH {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    grid-template-columns: 569px 521px;
  }

  .KZvNEONyVJ {
    grid-column-gap: 88px;
    grid-row-gap: 88px;
  }

  .mLIMpCrWeL {
    grid-column-gap: 104px;
    grid-row-gap: 104px;
  }

  .AeIDmfpyCV {
    font-size: 20px;
  }

  .XQvJuiIMgK {
    padding-left: 60px;
    padding-right: 60px;
  }

  .jisEPpRgMB {
    margin-bottom: 130px;
  }

  .oFAhCNLhAQ {
    font-size: 24px;
  }

  .PIJFxZvgzX {
    padding-left: 32px;
    padding-right: 32px;
  }

  .NflqhdHBXw {
    min-height: 650px;
  }

  .LGIJfFvEJB {
    height: 100%;
    max-width: 500px;
  }

  .TgepDsvHfr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .FaOlZogtgo {
    max-width: 450px;
  }

  .NuoIBubINd {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .mhTtEbvHPP {
    grid-column-gap: 70px;
    grid-row-gap: 70px;
  }

  .mhTtEbvHPP.OxXXnqcWgJ {
    padding-top: 0;
  }

  .xejOoLNiIi {
    width: 607px;
    min-height: 656px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 48px;
  }

  .nhtOltPCMN {
    line-height: 1.4;
  }

  .vELHFnWibM {
    grid-template-columns: 7fr 470px;
  }

  .hUkFTYZyrG {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .yAyFBNwQaU {
    width: 100%;
    max-width: 785px;
    margin-left: auto;
    display: flex;
  }

  .RzNTTlmYvN {
    max-width: 450px;
  }

  .XzSMYCnCzv {
    padding-top: 120px;
  }

  .DGnOAlEhcN {
    width: 100%;
    max-width: 612px;
  }

  .RYjXZKBXpc {
    max-width: 590px;
  }

  .KTLunVGlgW {
    align-items: flex-end;
  }

  .qblOJgtXFn {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: 105px 3px 105px 3px 130px;
  }

  .UJePhhBcrp {
    margin-top: -90px;
  }

  .UJePhhBcrp.gojNzPFOtd {
    margin-top: 0;
  }

  .FaUgunueJL {
    transform: rotate(-90deg);
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 340px;
    padding-bottom: 120px;
  }

  .aWXQDKlrrd {
    max-width: 550px;
    font-size: 44px;
  }

  .YgQdmLMnOO {
    grid-column-gap: 75px;
    grid-row-gap: 75px;
  }

  .vPHrECsjOn,
  .rjNyxwvkfh {
    max-width: 500px;
  }

  .PYBaxvmrfa {
    max-width: 434px;
  }

  .DCopVLmEHH {
    grid-template-columns: 575px 525px;
  }

  .KZvNEONyVJ {
    grid-template-columns: 508px 1fr;
  }

  .EAhYaOFeYu {
    max-width: 508px;
  }

  .oeUExmgOJU {
    max-width: 500px;
  }

  .AeIDmfpyCV {
    font-size: 24px;
  }

  .FqKIitAcAK {
    max-width: 493px;
  }

  .WERnthpjeG {
    font-size: 24px;
  }

  .HNqFHSClxP {
    position: relative;
  }

  .XQvJuiIMgK {
    padding-left: 120px;
    padding-right: 120px;
  }

  .PpCRWYZRce {
    min-width: 700px;
    font-size: 72px;
  }

  .AJaZOsZrQu {
    margin-top: 160px;
  }

  .lqMOeTSWyH {
    margin-top: 160px;
  }

  .gKbJuJGuNQ {
    width: 1021px;
    height: 1021px;
    top: 51%;
  }

  .jisEPpRgMB {
    max-width: 590px;
    margin-bottom: 170px;
  }

  .zBELCzXPlg {
    max-width: 553px;
    margin-left: auto;
  }

  .TGzXkRgguu {
    max-width: 600px;
    font-size: 64px;
  }

  .TGzXkRgguu.brYkJaZWgb.gojNzPFOtd {
    max-width: 950px;
  }

  .udJCiGNyvu {
    margin-bottom: -21px;
  }

  .yyQpScmUTe {
    max-width: 410px;
  }

  .EbpumYgMRq {
    max-width: 370px;
  }

  .SFfOKlhdMx {
    font-size: 18px;
  }

  .FaOlZogtgo {
    max-width: 570px;
  }

  .qmUggMmRNd {
    max-width: 600px;
  }

  .YulWTMDVhe {
    font-size: 24px;
  }

  .dXJJPiiLhI.oTVziDsMiA {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .lnwYyqbqor {
    line-height: 1.3;
  }
}

@media screen and (min-width: 1920px) {

  .fEEYAaLfCW {
    background-size: cover;
  }

  .vELHFnWibM {
    grid-column-gap: 140px;
    grid-row-gap: 140px;
  }

  .hUkFTYZyrG {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .XzSMYCnCzv {
    padding-top: 130px;
  }

  .SYmTXsjHOE {
    border-radius: 90px 30px;
  }

  .FaUgunueJL.oocskxxjhL {
    display: block;
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 350px;
    padding-bottom: 130px;
  }

  .YgQdmLMnOO {
    position: relative;
  }

  .XQvJuiIMgK {
    padding-left: 120px;
    padding-right: 120px;
  }

  .PpCRWYZRce {
    max-width: 720px;
  }

  .YPtQgGbImN.wxhzlfqlBu {
    overflow: hidden;
  }

  .NflqhdHBXw {
    min-height: 700px;
  }

  .ERerWLDSJq {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  .tyAIyDToux {
    max-width: 720px;
  }

  .fEEYAaLfCW.zbDjdfZGhP {
    min-height: 100%;
    padding-bottom: 50px;
  }

  .WAkwlLxPkG {
    flex-wrap: wrap;
  }

  .WAkwlLxPkG.wXhEwZfmWo {
    padding-bottom: 15px;
  }

  .WAkwlLxPkG.wXhEwZfmWo.gRWVsRrXPI {
    padding-bottom: 20px;
  }

  .vELHFnWibM {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 3fr;
  }

  .mbcqMeJhsp.eEvyYvfYsj {
    padding-top: 5px;
  }

  .fnrqCQiyqv {
    font-size: 20px;
  }

  .hUkFTYZyrG {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .MmGudxPvsM {
    transform: none;
  }

  .yAyFBNwQaU {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .TqFxiqZBPQ.tjDxsCHINB {
    padding-top: 30px;
  }

  .XzSMYCnCzv {
    padding-top: 80px;
  }

  .PpvbihbXbB {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .SYmTXsjHOE {
    width: 100%;
  }

  .DGnOAlEhcN {
    max-width: 430px;
  }

  .DTncjxpxMN {
    margin-bottom: 15px;
  }

  .IqvGRrGamE {
    grid-row-gap: 30px;
  }

  .KTLunVGlgW {
    flex-wrap: wrap;
  }

  .jPhrjjFEYV {
    line-height: 1.4;
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 300px;
    padding-bottom: 80px;
  }

  .aWXQDKlrrd {
    max-width: 650px;
  }

  .rqLzSNPpUr,
  .oMIbJhkzOD {
    grid-template-columns: 1fr 1fr;
  }

  .SboGbZPYsw {
    padding-right: 30px;
  }

  .SBKuexnJpH {
    display: none;
  }

  .DLvkaAjvOZ {
    grid-row-gap: 15px;
    padding-top: 25px;
  }

  .DCopVLmEHH {
    grid-template-columns: 1fr;
  }

  .zjUFehHhuK {
    width: 100%;
    max-width: 521px;
  }

  .KZvNEONyVJ {
    text-align: center;
    grid-template-columns: 1fr;
  }

  .EAhYaOFeYu {
    margin-left: auto;
    margin-right: auto;
  }

  .WObFPQBrge {
    justify-content: center;
  }

  .AeIDmfpyCV {
    font-size: 18px;
  }

  .ekTNYhSDms {
    font-size: 30px;
  }

  .sZBisXkyta {
    grid-template-columns: 1fr 1fr;
  }

  .XQvJuiIMgK {
    max-width: 720px;
  }

  .BIrBtTJbsS {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 155px;
    padding-bottom: 130px;
    display: flex;
  }

  .BwWKuNdPAg.WFMwnZpdUx {
    order: -1;
  }

  .BzNfsHopsD {
    margin-left: auto;
    margin-right: auto;
  }

  .PpCRWYZRce {
    max-width: 100%;
    font-size: 44px;
  }

  .gKbJuJGuNQ {
    width: 500px;
    height: 500px;
  }

  .jisEPpRgMB {
    margin-bottom: 70px;
  }

  .NflqhdHBXw {
    padding-top: 130px;
  }

  .TgepDsvHfr {
    grid-template-columns: 1fr 1fr;
  }

  .EbpumYgMRq {
    max-width: 650px;
  }

  .ERerWLDSJq {
    flex-wrap: wrap;
  }

  .YZbJyHejmw {
    width: 100%;
  }

  .tKYNVbrOSJ {
    margin-bottom: 15px;
  }

  .mhTtEbvHPP.OxXXnqcWgJ {
    margin-bottom: -150px;
  }

  .fNaawhuUEY {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
  }

  .aZANggxmhW {
    line-height: 1.4;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  .tyAIyDToux {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .vELHFnWibM {
    grid-template-columns: 1fr;
  }

  .adnufmtrQS {
    font-size: 16px;
    line-height: 1.6;
  }

  .hUkFTYZyrG {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .yAyFBNwQaU {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .TBPbBmAYFZ {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .XzSMYCnCzv {
    padding-top: 60px;
  }

  .PpvbihbXbB {
    flex-wrap: wrap;
  }

  .XLgGwRVOZM {
    margin-left: auto;
    margin-right: auto;
  }

  .DGnOAlEhcN,
  .RYjXZKBXpc {
    max-width: 100%;
  }

  .KTLunVGlgW {
    flex-wrap: wrap;
  }

  .iARkSxuIPK {
    padding-bottom: 60px;
  }

  .qblOJgtXFn {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
  }

  .UJePhhBcrp {
    margin-left: auto;
    margin-right: auto;
  }

  .UJePhhBcrp.gojNzPFOtd {
    max-width: 100%;
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .ZWehmVtyDp {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    grid-template-columns: 1fr;
  }

  .aWXQDKlrrd {
    max-width: 410px;
  }

  .aWXQDKlrrd.brYkJaZWgb {
    margin-left: auto;
    margin-right: auto;
  }

  .vfQtryUxXD.oTVziDsMiA {
    padding-top: 35px;
  }

  .rqLzSNPpUr {
    flex-wrap: wrap;
    display: flex;
  }

  .oMIbJhkzOD {
    width: 100%;
    max-width: 353px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .OFlqpEQmig {
    width: 100%;
    max-width: 355px;
    padding: 38px 30px;
  }

  .YgQdmLMnOO {
    grid-template-columns: 1fr;
  }

  .SboGbZPYsw {
    margin-top: 0;
  }

  .mFfDHCMDwG.gojNzPFOtd {
    padding-top: 80px;
  }

  .DCopVLmEHH {
    justify-items: center;
  }

  .zjUFehHhuK {
    max-width: 521px;
  }

  .EAhYaOFeYu.brYkJaZWgb {
    max-width: 100%;
  }

  .mLIMpCrWeL {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    display: flex;
  }

  .mLIMpCrWeL.oTVziDsMiA {
    padding-top: 35px;
  }

  .zLALQqCkXs {
    max-width: 353px;
    margin-left: auto;
    margin-right: auto;
  }

  .sWdEYLKjoV {
    display: none;
  }

  .AeIDmfpyCV {
    background-size: 50px;
    font-size: 17px;
  }

  .sZBisXkyta {
    flex-wrap: wrap;
    display: flex;
  }

  .WhiktcVUHZ {
    max-width: 353px;
    margin-left: auto;
    margin-right: auto;
  }

  .WERnthpjeG {
    font-size: 18px;
  }

  .EDpcpiHMSY {
    flex-wrap: wrap;
  }

  .XQvJuiIMgK {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .BIrBtTJbsS {
    padding-top: 125px;
  }

  .PpCRWYZRce {
    font-size: 38px;
  }

  .jisEPpRgMB {
    margin-bottom: 20px;
  }

  .ZQZLxZMJDk {
    grid-row-gap: 30px;
    flex-wrap: wrap-reverse;
  }

  .cjeTODeaIQ {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: wrap;
    display: flex;
  }

  .zBELCzXPlg {
    max-width: 100%;
    align-self: center;
  }

  .ZhYpPFfhAa {
    grid-column-gap: 30px;
    flex-flow: wrap;
    justify-content: center;
  }

  .oFAhCNLhAQ {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .NJScUcYeKj {
    transform: none;
  }

  .PIJFxZvgzX {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
    display: flex;
  }

  .NPnkdvYGJE {
    position: static;
  }

  .NflqhdHBXw {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .TGzXkRgguu.brYkJaZWgb {
    max-width: 100%;
  }

  .wKLWAUtrem {
    margin-left: auto;
    margin-right: auto;
  }

  .SdiGtJQdyw,
  .LGIJfFvEJB {
    max-width: 352px;
  }

  .yyQpScmUTe {
    max-width: 100%;
  }

  .TgepDsvHfr {
    grid-template-columns: 1fr 1fr;
  }

  .EbpumYgMRq {
    max-width: 410px;
  }

  .NwwWYlCTFb {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: wrap;
  }

  .SFfOKlhdMx.nybkEmFHyF {
    margin-right: 0;
  }

  .RoBEnvjCGT {
    grid-template-columns: 1fr 1fr;
  }

  .NuoIBubINd {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .XdeSmfdKAH {
    max-width: 353px;
  }

  .SbwQCTylfw {
    width: 100%;
  }

  .TaTFonDvVy {
    max-width: 353px;
  }

  .QxUAJhVSVk {
    text-align: left;
  }

  .dXJJPiiLhI {
    flex-wrap: wrap;
  }

  .dXJJPiiLhI.oTVziDsMiA {
    padding-top: 35px;
  }

  .AOWUdNcdjx {
    width: 100%;
  }

  .fnxmLbyNpX {
    display: none;
  }

  .GLkOVJLGLN {
    padding-bottom: 25px;
  }

  .RsplLIekGn {
    padding-top: 25px;
  }

  .YoWWAIFDqY.RakESrJfvh {
    min-height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mhTtEbvHPP {
    flex-wrap: wrap;
  }

  .mhTtEbvHPP.OxXXnqcWgJ {
    margin-bottom: 0;
  }

  .fNaawhuUEY {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gBWhzLUDMG {
    width: 100%;
  }

  .aZANggxmhW {
    color: var(--body-color);
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .nhtOltPCMN {
    height: 45px;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: .85;
  }

  .aChTopuPbd {
    line-height: 1.4;
  }

  .dgbUGoytKn {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .vELHFnWibM {
    grid-template-columns: 1fr;
  }

  .BzNfqujfdq {
    padding-right: 20px;
  }

  .adnufmtrQS {
    padding-left: 15px;
    padding-right: 15px;
  }

  .qlrYBwwHyl.tGbWUyXuRo {
    font-size: 20px;
  }

  .hUkFTYZyrG {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .TBPbBmAYFZ {
    grid-row-gap: 5px;
  }

  .XzSMYCnCzv {
    padding-top: 50px;
  }

  .XLgGwRVOZM,
  .DGnOAlEhcN {
    max-width: 100%;
  }

  .iARkSxuIPK {
    padding-bottom: 50px;
  }

  .qblOJgtXFn {
    justify-content: center;
  }

  .qblOJgtXFn.ATluZgeoYE {
    justify-content: flex-start;
  }

  .CTZZBfKSJr {
    min-width: 125px;
    text-align: center;
  }

  .OMwRYAPlIM {
    justify-content: center;
  }

  .iDxnEPrHfG.REIeSQrJfw.wcJOmDGNVM {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .ZWehmVtyDp {
    padding-bottom: 25px;
  }

  .ZWehmVtyDp.GcvFOCKdtD {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 30px;
  }

  .aWXQDKlrrd {
    max-width: 100%;
    font-size: 28px;
  }

  .OFlqpEQmig {
    max-width: 100%;
  }

  .HAHNssMIky {
    line-height: 1.2;
  }

  .uGGrebgVMZ.IHqPdvrFEc {
    padding-top: 25px;
  }

  .KZvNEONyVJ {
    padding: 42px 34px 42px 24px;
  }

  .EAhYaOFeYu {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 21px;
  }

  .GdQboRlIJy {
    text-align: center;
  }

  .MDNJYVghrO {
    font-size: 14px;
  }

  .WObFPQBrge {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .oeUExmgOJU {
    max-width: 100%;
  }

  .ekTNYhSDms {
    font-size: 26px;
  }

  .sZBisXkyta {
    grid-template-columns: 1fr;
  }

  .BIrBtTJbsS {
    padding-top: 115px;
  }

  .PpCRWYZRce {
    font-size: 30px;
  }

  .gKbJuJGuNQ {
    max-width: 180px;
    margin-right: 130px;
  }

  .zBELCzXPlg {
    max-width: 100%;
  }

  .NflqhdHBXw {
    min-height: 520px;
    padding-top: 115px;
  }

  .TGzXkRgguu {
    max-width: 100%;
  }

  .TgepDsvHfr {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-content: center;
    display: flex;
  }

  .GDoOUhctoG {
    max-width: 207px;
  }

  .EbpumYgMRq {
    max-width: 100%;
  }

  .NwwWYlCTFb {
    grid-row-gap: 35px;
    flex-wrap: wrap;
  }

  .SFfOKlhdMx.nybkEmFHyF {
    margin-right: 0;
  }

  .YZbJyHejmw {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .RoBEnvjCGT {
    grid-template-columns: 1fr;
  }

  .XdeSmfdKAH,
  .TaTFonDvVy {
    max-width: 100%;
  }

  .QxUAJhVSVk {
    margin-bottom: 0;
  }

  .dXJJPiiLhI {
    width: 93%;
  }

  .GLkOVJLGLN,
  .RsplLIekGn,
  .YoWWAIFDqY.RakESrJfvh {
    text-align: center;
  }


  .lnwYyqbqor,
  .jMxnCekiTO {
    height: 45px;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: .8;
  }

  .xejOoLNiIi {
    max-width: 180px;
    margin-right: 130px;
  }

  .cyLgfCWyUm {
    display: none;
  }

  .fEXRkrRHHG {
    display: none;
  }
}