ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  margin-top: 0px;
  border-radius: 0px;
}

#header .logo {
  text-transform: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: none;
}

.logo h4 {
  margin: 0;
}

.card {
  border-radius: 0px;
}

#header {
  top: 0;
}

.blur {
  padding: 10px;
  // backdrop-filter: blur(40px);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  border-radius: 0px;
  text-align: center;
}

.img-fluid {
  border: 2px solid #78ff91;
  border-radius: 4px;
}

.info,
.php-email-form-sdfsfkb {
  padding: 20px;
  border-radius: 0px;
}

.contact-sdfhjgdsf-sdfnln .info,
.contact-sdfhjgdsf-sdfnln .php-email-form-sdfsfkb {
  padding: 20px;
  border-radius: 0px;
  background: transparent;
}

.clients-gfyds img {
  border: none;
}

.info-box {
  border-radius: 0px;
}

.features-sdjfsffsd .img-fluid {
  width: 100%;
}

.contact-sdfhjgdsf-sdfnln .section-title-main {
  padding: 0;
}

#flexCheckDefault {
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.form-check {
  margin-bottom: 20px;
  color: #fff;
  text-align: left;
}

.form-check a {
  color: #78ff91;
  text-decoration: underline;
}

.footer-info-sdfjnsf a {
  color: #fff;
}

.padtop {
  padding-top: 100px;
}