* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  margin-top: 40px;
  border: 10px solid #fff;
  // border-radius: 20px;
}

#header .logo {
  text-transform: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: none;
}

.logo h4 {
  margin: 0;
}

.card {
  border-radius: 0px;
}

#header {
  top: 0;
}

.blur {
  padding: 40px 20px;
  backdrop-filter: blur(10px);
  // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  text-align: left;
}

.cloud {
  padding: 40px 20px;
  border-radius: 40px;
  margin: 40px auto;
  background-color: #fff;
  text-align: left;
}

.img-fluid {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid #fff;
  border-radius: 40px 0px 30px;
  min-width: 100%;
}

.clients .swiper-slide img {
  border: none;
}

.info-box {
  border-radius: 0px;
}

#flexCheckDefault {
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.form-check {
  margin-bottom: 20px;
  text-align: left;
}

.form-check a {
  color: #fff;
  text-decoration: underline;
}

.form-check .form-check-label {
  color: #fff;
}

.custom-check {
  height: 20px !important;
}

.padtop {
  padding-top: 160px;
}

.mcta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../img/bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 60s ease-in-out infinite;
}

.mcta2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../img/bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 40s ease-in-out infinite;
}

.mcta3 {
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/bg-3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 60s ease-in-out infinite;
}

.gradient-anim {
  background: linear-gradient(-45deg, #1d1f1e, #2f3330, #1e211d, #131413);
  background-size: 400% 400%;
  animation: gradient-anim 10s ease-in-out infinite;
}

@keyframes ctascroll {
  0% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.client-logo img {
  border-radius: 0;
  border: none;
  padding: 0;
  background: transparent;
}

.useful {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}