ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  margin: 0 auto;
  border: 2px solid #000;
}

#header .logo {
  text-transform: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: none;
}

.logo h4 {
  margin: 0;
}

.card {
  border-radius: 0px;
}

#header {
  top: 0;
}

.blur {
  padding: 40px 20px;
  // backdrop-filter: blur(40px);
  // background: linear-gradient(rgba(14, 14, 14, 0.6), rgba(0, 0, 0, 0.8));
  // border-radius: 4px 30px 40px 0px;
  text-align: center;
}

.img-fluid {
  border: 1px solid #222;
  // padding: 10px;
  // background-color: #fff;
  border-radius: 50%;
}

.clients .swiper-slide img {
  border: none;
}

.clients-gfyds img {
  border: none;
}

.info-box {
  border-radius: 0px;
}

#flexCheckDefault {
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.form-check {
  margin-bottom: 20px;
  text-align: left;
}

.form-check a {
  color: #222;
  text-decoration: underline;
}

.form-check .form-check-label {
  color: #000;
}

.custom-check {
  height: 20px !important;
}

.padtop {
  padding-top: 30px;
}

.mcta {
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 30s ease-in-out infinite;
}

.mcta2 {
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../img/bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 30s ease-in-out infinite;
}

.mcta3 {
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../img/bg-3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: ctascroll 30s ease-in-out infinite;
}

.gradient-anim {
  background: linear-gradient(-45deg, #ff8c00, #b313ab, #f39c18, #d56723);
  background-size: 300% 300%;
  animation: gradient-anim 3s ease-in-out infinite;
}

@keyframes ctascroll {
  0% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.client-logo img {
  border-radius: 0;
  border: none;
  padding: 0;
  background: transparent;
}

.useful {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}