:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

:root {
  --color-default: #fff;
  --color-primary: #78ff91;
  --color-secondary: #78ff91;
}

:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background: #2b364a;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #155e06;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #42425d;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #42425d 10px), repeating-linear-gradient(#4c4d6455, #4c4d64);
}

.section-header-hkbsd {
  text-align: center;
  padding-bottom: 70px;
}

.section-header-hkbsd h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: var(--color-primary);
}

.section-header-hkbsd h2:before,
.section-header-hkbsd h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header-hkbsd h2:before {
  margin: 0 15px 10px 0;
}

.section-header-hkbsd h2:after {
  margin: 0 0 10px 15px;
}

.section-header-hkbsd p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header-hkbsd p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs-sdfsdf {
  padding: 100px 0 60px 0;
  min-height: 10vh;
  position: relative;
  background: #051902;
}

.breadcrumbs-sdfsdf h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs-sdfsdf ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs-sdfsdf ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.breadcrumbs-sdfsdf ol a:hover {
  text-decoration: underline;
}

.breadcrumbs-sdfsdf ol li+li {
  padding-left: 10px;
}

.breadcrumbs-sdfsdf ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #042c10;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  z-index: 997;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

.header .logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #222428;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Get Started Section
--------------------------------------------------------------*/
.get-started-kdsjfb .content {
  padding: 30px 0;
}

.get-started-kdsjfb .content h3 {
  font-size: 36px;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}

.get-started-kdsjfb .content h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.get-started-kdsjfb .content p {
  font-size: 14px;
}

.get-started-kdsjfb .php-email-form-sdjkbf {
  color: #fff;
  padding: 30px;
  height: 100%;
  border-radius: 0px;
  border: 2px solid #78ff91;
}

@media (max-width: 575px) {
  .get-started-kdsjfb .php-email-form-sdjkbf {
    padding: 20px;
  }
}

.get-started-kdsjfb .php-email-form-sdjkbf h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.get-started-kdsjfb .php-email-form-sdjkbf p {
  font-size: 14px;
  margin-bottom: 20px;
}

.get-started-kdsjfb .php-email-form-sdjkbf .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started-kdsjfb .php-email-form-sdjkbf .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.get-started-kdsjfb .php-email-form-sdjkbf .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.get-started-kdsjfb .php-email-form-sdjkbf .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.get-started-kdsjfb .php-email-form-sdjkbf input,
.get-started-kdsjfb .php-email-form-sdjkbf textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.get-started-kdsjfb .php-email-form-sdjkbf input:focus,
.get-started-kdsjfb .php-email-form-sdjkbf textarea:focus {
  border-color: var(--color-primary);
}

.get-started-kdsjfb .php-email-form-sdjkbf input {
  padding: 12px 15px;
}

.get-started-kdsjfb .php-email-form-sdjkbf textarea {
  padding: 12px 15px;
}

.get-started-kdsjfb .php-email-form-sdjkbf button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #111;
  transition: 0.4s;
  border-radius: 4px;
}

.get-started-kdsjfb .php-email-form-sdjkbf button[type=submit]:hover {
  background: #155e06;
  color: #fff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Constructions Section
--------------------------------------------------------------*/
.constructions-sdkfaqw .card-item {
  position: relative;
  border-radius: 4px;
}

.constructions-sdkfaqw .card-item .card-bg {
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.constructions-sdkfaqw .card-item .card-body {
  padding: 30px;
}

.constructions-sdkfaqw .card-item h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--color-secondary);
}

.constructions-sdkfaqw .card-item p {
  color: var(--color-secondary);
  margin: 0;
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  background: linear-gradient(rgba(3, 20, 4, 0.9), rgba(7, 16, 2, 1)), url("../img/bg-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.services .service-item-sdfsd {
  padding: 20px;
  // background: #fff;
  border-radius: 0px;
  border: 2px dashed #78ff91;
  height: 100%;
}

.services .service-item-sdfsd .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item-sdfsd .icon i {
  color: #ff0000;
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.services .service-item-sdfsd .icon:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 70%;
  background: #fff;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -15px;
  transition: 0.3s;
}

.services .service-item-sdfsd h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #ebebed;
  transition: 0.3s;
}

.services .service-item-sdfsd p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item-sdfsd .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}

.services .service-item-sdfsd:hover .icon:before {
  background: var(--color-primary);
}

.services .service-item-sdfsd:hover h3 {
  border-color: var(--color-primary);
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features-ksjfbk .nav-tabs {
  border: 0;
}

.features-ksjfbk .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 20px solid #fff;
}

.features-ksjfbk .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features-ksjfbk .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 575px) {
  .features-ksjfbk .nav-link h4 {
    font-size: 16px;
  }
}

.features-ksjfbk .nav-link:hover {
  color: var(--color-primary);
}

.features-ksjfbk .nav-link.active {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.features-ksjfbk .tab-content {
  margin-top: 30px;
}

.features-ksjfbk .tab-pane h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features-ksjfbk .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.features-ksjfbk .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features-ksjfbk .tab-pane ul li {
  padding-top: 10px;
}

.features-ksjfbk .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.features-ksjfbk .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Our Projects Section
--------------------------------------------------------------*/

.projects-sdkflkm .portfolio-content {
  position: relative;
  overflow: hidden;
}

.projects-sdkflkm .portfolio-content img {
  transition: 0.3s;
}

.projects-sdkflkm .portfolio-content:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials-kshdf {
  padding-left: 50px;
  background: linear-gradient(rgba(3, 20, 4, 0.8), rgba(7, 16, 2, 0.9)), url("../img/bg-1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.testimonials-kshdf .testimonial-wrap {
  padding-left: 50px;
}

.testimonials-kshdf .testimonials-carousel,
.testimonials-kshdf .testimonials-slider {
  overflow: hidden;
}

.testimonials-kshdf .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 0 15px 30px 0;
  min-height: 200px;
  border: 2px dashed var(--color-primary);
  position: relative;
}

.testimonials-kshdf .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials-kshdf .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials-kshdf .testimonial-item .stars {
  margin: 10px 0;
}

.testimonials-kshdf .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials-kshdf .testimonial-item .quote-icon-left,
.testimonials-kshdf .testimonial-item .quote-icon-right {
  color: #ffd565;
  font-size: 26px;
  line-height: 0;
}

.testimonials-kshdf .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials-kshdf .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials-kshdf .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials-kshdf .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials-kshdf .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
}

.testimonials-kshdf .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 767px) {
  .testimonials-kshdf .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials-kshdf .testimonials-carousel,
  .testimonials-kshdf .testimonials-slider {
    overflow: hidden;
  }

  .testimonials-kshdf .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
}

/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services {
  background: linear-gradient(rgba(3, 20, 4, 0.9), rgba(7, 16, 2, 0.9)), url("../img/bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  border-radius: 0px;
  border: 2px solid #78ff91;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.alt-services .icon-box-ksdjb {
  margin-top: 50px;
}

.alt-services .icon-box-ksdjb i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  // background-color: #fff;
  transition: 0.3s;
}

.alt-services .icon-box-ksdjb:hover i {
  background-color: var(--color-primary);
  color: #111;
}

.alt-services .icon-box-ksdjb h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box-ksdjb h4 a {
  color: #fff;
  transition: 0.3s;
}

.alt-services .icon-box-ksdjb h4 a:hover {
  color: var(--color-primary);
}

.alt-services .icon-box-ksdjb p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about h2 {
  font-size: 48px;
  font-weight: 700;
  color: #78ff91;
  margin: 30px 0;
}

@media (min-width: 991px) {
  .about h2 {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.about .our-story-kbjsb {
  padding: 40px;
  border-radius: 0px;
}

@media (min-width: 991px) {
  .about .our-story-kbjsb {
    padding-right: 35%;
  }
}

.about .our-story-kbjsb h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #838893;
}

.about .our-story-kbjsb h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.about .our-story-kbjsb p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 20px;
  margin-right: 4px;
  color: var(--color-primary);
}

.about .about-img {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  border: 2px solid var(--color-primary);
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/
.stats-counter-kjsdfbk .stats-item-skdb {
  box-shadow: 0px 0 10px var(--color-primary);
  padding: 30px;
  border-radius: 100px;
}

.stats-counter-kjsdfbk .stats-item-skdb i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: var(--color-primary);
}

.stats-counter-kjsdfbk .stats-item-skdb span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: var(--color-secondary);
}

.stats-counter-kjsdfbk .stats-item-skdb p {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
}

/*--------------------------------------------------------------
# Our Team Section
--------------------------------------------------------------*/
.team-jsblns {
  position: relative;
  background: linear-gradient(rgba(3, 20, 4, 0.8), rgba(7, 16, 2, 0.9)), url("../img/bg-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.team-jsblns .member {
  position: relative;
}

.team-jsblns .member .member-img {
  margin: 0 80px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1024px) {
  .team-jsblns .member .member-img {
    margin: 0 60px;
  }
}

.team-jsblns .member .member-img img {
  position: relative;
  z-index: 1;
}

.team-jsblns .member .member-img .social a:hover {
  color: var(--color-primary);
}

.team-jsblns .member .member-info-skjdbf {
  margin-top: 30px;
}

.team-jsblns .member .member-info-skjdbf h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 18px;
  color: var(--color-secondary);
}

.team-jsblns .member .member-info-skjdbf span {
  font-style: italic;
  display: block;
  font-size: 15px;
  color: #838893;
  margin-bottom: 10px;
}

.team-jsblns .member .member-info-skjdbf p {
  margin-bottom: 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Servie Cards Section
--------------------------------------------------------------*/
.services-cards-lnnsdb h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}

.services-cards-lnnsdb p {
  font-size: 15px;
}

.services-cards-lnnsdb ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 10px;
}

.services-cards-lnnsdb ul li i {
  font-size: 16px;
  color: var(--color-primary);
  margin-right: 6px;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact-skjdfb {
  background: #051902;
}

.contact-skjdfb .info-item {
  box-shadow: 0 0 20px var(--color-primary);
  padding: 20px 0 30px 0;
  border-radius: 20px;
}

.contact-skjdfb .info-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #ffd565;
}

.contact-skjdfb .info-item h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
}

.contact-skjdfb .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact-skjdfb .php-email-form-sdjkbf {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.contact-skjdfb .php-email-form-sdjkbf .form-group {
  padding-bottom: 20px;
}

.contact-skjdfb .php-email-form-sdjkbf .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-skjdfb .php-email-form-sdjkbf .error-message br+br {
  margin-top: 25px;
}

.contact-skjdfb .php-email-form-sdjkbf .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-skjdfb .php-email-form-sdjkbf .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-skjdfb .php-email-form-sdjkbf .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact-skjdfb .php-email-form-sdjkbf input,
.contact-skjdfb .php-email-form-sdjkbf textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact-skjdfb .php-email-form-sdjkbf input:focus,
.contact-skjdfb .php-email-form-sdjkbf textarea:focus {
  border-color: var(--color-primary);
}

.contact-skjdfb .php-email-form-sdjkbf textarea {
  padding: 10px 12px;
}

.contact-skjdfb .php-email-form-sdjkbf button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: #111;
  transition: 0.4s;
  border-radius: 5px;
}

.contact-skjdfb .php-email-form-sdjkbf button[type=submit]:hover {
  background: #155e06;
  color: #fff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
  height: 100vh;
  background: linear-gradient(rgba(6, 40, 9, 0.6), rgba(7, 16, 2, 0.9)), url("../img/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px;
  }
}

.hero .info h2 {
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
  }
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started-kdsjfb {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 42px 80px;
  border-radius: 100px;
  margin: 10px;
  color: #fff;
  border: 2px dashed var(--color-primary);
}

.hero .info .btn-get-started-kdsjfb:hover {
  background: var(--color-primary);
  color: #000;
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .blog-pagination {
  margin-top: 30px;
  color: #838893;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: var(--color-secondary);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: var(--color-primary);
  color: #fff;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Blog Posts List
--------------------------------------------------------------*/
.blog .posts-list .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.blog .posts-list .post-img img {
  transition: 0.5s;
}

.blog .posts-list .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}

.blog .posts-list .post-content {
  padding: 30px;
}

.blog .posts-list .post-title {
  font-size: 24px;
  color: var(--color-default);
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.blog .posts-list .meta i {
  font-size: 16px;
  color: var(--color-primary);
}

.blog .posts-list .meta span {
  font-size: 15px;
  color: #838893;
}

.blog .posts-list p {
  margin-top: 20px;
}

.blog .posts-list hr {
  color: #888;
  margin-bottom: 20px;
}

.blog .posts-list .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #838893;
}

.blog .posts-list .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}

.blog .posts-list .post-item:hover .post-title,
.blog .posts-list .post-item:hover .readmore {
  color: var(--color-primary);
}

.blog .posts-list .post-item:hover .post-img img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  background: #051902;
  font-size: 14px;
  padding: 80px 0 30px 0;
  position: relative;
}

.footer .footer-content-jlsdblsj .footer-info-ksdbfk {
  margin-bottom: 30px;
}

.footer .footer-content-jlsdblsj .footer-info-ksdbfk h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content-jlsdblsj .footer-info-ksdbfk h3 span {
  color: var(--color-primary);
}

.footer .footer-content-jlsdblsj .footer-info-ksdbfk p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff;
}

.footer .footer-content-jlsdblsj .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-content-jlsdblsj .social-links a:hover {
  background: var(--color-primary);
  text-decoration: none;
}

.footer .footer-content-jlsdblsj h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content-jlsdblsj .footer-links-sdlfj {
  margin-bottom: 30px;
}

.footer .footer-content-jlsdblsj .footer-links-sdlfj ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .footer-content-jlsdblsj .footer-links-sdlfj ul li {
  padding: 8px 0;
  white-space: nowrap;
}

.footer .footer-content-jlsdblsj .footer-links-sdlfj ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content-jlsdblsj .footer-links-sdlfj ul a:hover {
  color: #fff;
}

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}