/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Unbounded:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #FFA000;
  --first-color-alt: #ffc053;
  --text-color: #FFFFFF;
  --body-color: #29605d;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.625rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .8125rem;

  /*========== Font weight ==========*/
  --font-bold: 700;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  padding-top: 4rem;
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1240px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
}

.section {
  padding-block: 5rem 1rem;
  padding: 3rem 0;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.center {
  text-align: center;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .3s, background .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--first-color);
}

.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  transition: color .3s;
}

.nav__logo:hover {
  color: var(--first-color-alt);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
    padding-block: 3.5rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  font-weight: var(--font-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color-alt);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: var(--font-bold);
  transition: background .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}




/*=============== HOME ===============*/

.home__data h1,
.home__data p {
  margin-bottom: 2rem;
}



/*=============== FOOTER ===============*/
.footer {
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
}

.footer__info {
  justify-items: center;
  row-gap: 1rem;
  padding: 1rem;
}

.copy__link {
  padding-left: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }


  .footer__privacy {
    display: grid;
    row-gap: .5rem;
  }

}



@media screen and (min-width: 767px) {
  .nav {
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
    box-shadow: none;
  }

}

/* For large devices */
@media screen and (min-width: 1024px) {

  .section__subtitle {
    margin-bottom: .75rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding-block: 8rem 3rem;
  }

  .footer__info {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1064px) {
  .container {
    margin-inline: auto;
  }

  .footer {
    margin-inline: auto;
  }
}