body {
  font-family: "Open Sans", sans-serif;
  color: #111;
  background-color: #9191ff;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #9191ff 20%, #9191ff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #9191ff 20%, #9191ff 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#858bff 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #858bff 1.6px, #9191ff 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

a {
  text-decoration: none;
  color: #23d98a;
}

a:hover {
  color: #e24d55;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #17497a;
  transition: all 0.5s;
  z-index: 997;
  padding: 16px 0;
}

#header.header-scrolled {
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

#header.header-inner-pages {
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#header .logo a {
  color: #eee;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #eee;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #23d98a;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #23d98a;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #73e144;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #eee;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(63, 73, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #3f758b;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #eee;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #23d98a;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 92vh;
  background-color: rgba(63, 73, 83, 0.8);
  overflow: hidden;
  position: relative;
  background: linear-gradient(rgba(9, 24, 39, 0.8), rgba(17, 41, 65, 0.9)), url("../img/hero-bg.jpg") no-repeat;
  background-size: cover;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 35, 40, 0.6);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  max-width: 600px;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #23d98a;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 32px;
  border-radius: 40px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: #23d98a;
}

#hero .btn-get-started:hover {
  background: #73e144;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg,
.whyus .icon-box {
  background-color: #17497a;
  color: #eee;
}

.section-title-main {
  padding-bottom: 40px;
}

.section-title-main h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.section-title-main h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fff;
  margin: 4px 10px;
}

.section-title-main p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/*--------------------------------------------------------------
# breadcrumbs-ggfgt
--------------------------------------------------------------*/
.breadcrumbs-ggfgt {
  padding: 18px 0;
  background: #f8f9fa;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs-ggfgt h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}

.breadcrumbs-ggfgt ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs-ggfgt ol li+li {
  padding-left: 10px;
}

.breadcrumbs-ggfgt ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6b7b8d;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs-ggfgt {
    margin-top: 58px;
  }

  .breadcrumbs-ggfgt .d-flex {
    display: block !important;
  }

  .breadcrumbs-ggfgt h2 {
    margin-bottom: 10px;
  }

  .breadcrumbs-ggfgt ol {
    display: block;
  }

  .breadcrumbs-ggfgt ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-brand .content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-brand .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about-brand .content ul {
  list-style: none;
  border-radius: 20px;
  background: #17497a;
}

.about-brand .content ul li {
  padding: 4px 0;
  position: relative;
  color: #eee;
}

.about-brand .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #23d98a;
}

.about-brand .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients-gfyds {
  padding: 15px 0;
  text-align: center;
}

.clients-gfyds img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients-gfyds img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients-gfyds img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.whyus .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whyus .icon-box i {
  color: #23d98a;
  font-size: 40px;
}

.whyus .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.whyus .icon-box h4 a {
  color: #222;
  transition: 0.3s;
}

.whyus .icon-box p {
  line-height: 24px;
  font-size: 14px;
}

.whyus .icon-box:hover h4 a {
  color: #23d98a;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(85, 98, 112, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team-ytrew .member {
  box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
  padding: 30px;
  border-radius: 60px;
  background: #17497a;
  color: #eee;
}

.team-ytrew .member .pic {
  overflow: hidden;
  width: 140px;
  border-radius: 4px;
}

.team-ytrew .member .pic img {
  transition: ease-in-out 0.3s;
}

.team-ytrew .member:hover img {
  transform: scale(1.1);
}

.team-ytrew .member .member-info {
  padding-left: 30px;
}

.team-ytrew .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #eee;
}

.team-ytrew .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team-ytrew .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}

.team-ytrew .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team-ytrew .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team-ytrew .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #8795a4;
}

.team-ytrew .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.team-ytrew .member .social a:hover {
  background: #23d98a;
}

.team-ytrew .member .social a+a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #fff;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #6b7b8d;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features-kblvks {
  overflow: hidden;
}

.features-kblvks p {
  color: #eee;
}

.features-kblvks .nav-tabs {
  border: 0;
}

.features-kblvks .nav-link {
  padding: 12px;
  transition: 0.3s;
  color: #eee;
  font-weight: 600;
  font-size: 15px;
  border: none;
}

.features-kblvks .nav-link:hover {
  color: #23d98a;
  border: none;
}

.features-kblvks .nav-link.active {
  color: #23d98a;
  border-left: 20px solid #18d26e;
  background: #20649c;
  border-radius: 10px;
}

.features-kblvks .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features-kblvks .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #eee;
}

.features-kblvks .details p {
  color: #eee;
}

.features-kblvks .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .features-kblvks .nav-link {
    border: 0;
    padding: 15px;
  }

  .features-kblvks .nav-link.active {
    color: #fff;
    background: #23d98a;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-dols .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
}

.pricing-dols h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #eee;
  background: #f8f8f8;
}

.pricing-dols h4 {
  font-size: 36px;
  color: #23d98a;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing-dols h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing-dols h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing-dols ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing-dols ul li {
  padding-bottom: 16px;
}

.pricing-dols ul i {
  color: #23d98a;
  font-size: 18px;
  padding-right: 4px;
}

.pricing-dols ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing-dols .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing-dols .btn-buy {
  background: #23d98a;
  display: inline-block;
  padding: 8px 35px 9px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing-dols .btn-buy:hover {
  background: #73e144;
}

.pricing-dols .featured h3 {
  color: #fff;
  background: #23d98a;
}

.pricing-dols .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #23d98a;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq-qaf {
  background: #17497a;
  color: #eee;
}

.faq-qaf p {
  color: #eee;
}

.faq-qaf .faq-item-qaf {
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.faq-qaf .faq-item-qaf i {
  font-size: 20px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.faq-qaf .faq-item-qaf h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 28px;
  font-family: "Poppins", sans-serif;
}

.faq-qaf .faq-item-qaf p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials-people .testimonials-carousel,
.testimonials-people .testimonials-slider {
  overflow: hidden;
}

.testimonials-people .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  border-radius: 20px;
  background: #17497a;
  color: #eee;
}

.testimonials-people .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials-people .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials-people .testimonial-item h4 {
  font-size: 14px;
  margin: 0;
}

.testimonials-people .testimonial-item .quote-icon-left,
.testimonials-people .testimonial-item .quote-icon-right {
  color: #f8d1d3;
  font-size: 26px;
}

.testimonials-people .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials-people .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials-people .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-formys .info {
  width: 100%;
  background: #fff;
}

.contact-formys .info i {
  font-size: 20px;
  color: #222;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact-formys .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222;
}

.contact-formys .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #8795a4;
}

.contact-formys .info .email,
.contact-formys .info .phone {
  margin-top: 40px;
}

.contact-formys .info .email:hover i,
.contact-formys .info .address:hover i,
.contact-formys .info .phone:hover i {
  background: #222;
  color: #fff;
}

.contact-formys .php-email-form {
  width: 100%;
  background: #fff;
}

.contact-formys .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact-formys .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-formys .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact-formys .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-formys .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-formys .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact-formys .php-email-form input,
.contact-formys .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact-formys .php-email-form input:focus,
.contact-formys .php-email-form textarea:focus {
  border-color: #23d98a;
}

.contact-formys .php-email-form textarea {
  padding: 10px 12px;
}

.contact-formys .php-email-form button[type=submit] {
  background: #23d98a;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact-formys .php-email-form button[type=submit]:hover {
  background: #e24d55;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-pos {
  padding: 40px 0 20px 0;
}

.blog-pos .entry {
  padding: 30px;
  margin-bottom: 60px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-pos .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog-pos .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog-pos .entry .entry-title a {
  color: #222;
  transition: 0.3s;
}

.blog-pos .entry .entry-title a:hover {
  color: #23d98a;
}

.blog-pos .entry .entry-content p {
  line-height: 24px;
}

.blog-pos .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog-pos .entry .entry-content .read-more a {
  display: inline-block;
  background: #23d98a;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.blog-pos .entry .entry-content .read-more a:hover {
  background: #73e144;
}

.blog-pos .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #19181f;
  color: #fff;
  font-size: 14px;
}

#footer .footer-fbsk {
  background: #22233f;
  padding: 30px 0 0;
}

#footer .footer-fbsk .footer-info {
  margin-bottom: 30px;
}

#footer .footer-fbsk .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-fbsk .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-fbsk .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-fbsk .social-links a:hover {
  background: #23d98a;
  color: #fff;
  text-decoration: none;
}

#footer .footer-fbsk h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-fbsk .footer-links {
  margin-bottom: 30px;
}

#footer .footer-fbsk .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-fbsk .footer-links ul i {
  padding-right: 2px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-fbsk .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-fbsk .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-fbsk .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-fbsk .footer-links ul a:hover {
  color: white;
}

#footer .footer-fbsk .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-fbsk .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-fbsk .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #23d98a;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-fbsk .footer-newsletter form input[type=submit]:hover {
  background: #73e144;
}

#footer .copyright {
  text-align: center;
  padding: 20px;
}