* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #0f0c1b;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #3fbbc0;
  text-decoration: none;
}

a:hover {
  color: #65c9cd;
  text-decoration: none;
}

img {
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

iframe {
  border-radius: 0px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0f0c1b;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  transform: translateY(-10px);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 40px 0;
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

#header.header-scrolled {
  top: 0;
  background: #0F0C1B;
  padding: 20px 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/**
* Appointment Button
*/
.appointment-btn {
  margin-left: 25px;
  background: #4f00b4;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}

.appointment-btn:hover {
  background: #36c688;
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid transparent;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navbar-mobile .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1026px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .appointment-btn {
  position: fixed;
  overflow: hidden;
  right: 20px;
  left: 0px;
  bottom: 20px;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  background-color: #0f0c1b;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3fbbc0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: linear-gradient(139deg, #FE5181 12%, #FF34DF 70%);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0c1b;
}

#hero h1 {
  font-size: 70px;
  font-weight: 600;
}

#hero p {
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

#hero svg {
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  opacity: 0.9;
}

.hero_btn {
  text-transform: uppercase;
  background: #0f0c1b;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 14px 40px;
  color: #fff;
  letter-spacing: 1px;
}

.hero_img {
  width: 40vw;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#hero_bot {
  background: #0f0c1b;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 2px solid #fe5181;
}

.hero_bot ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.hero_bot ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero_bot ul li i {
  font-size: 40px;
}

@media (max-width: 1026px) {
  .hero_content {
    flex-direction: column;
  }

  .hero_img {
    width: 80vw;
  }

  .hero_bot ul {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hero_bot ul li {
    flex-direction: column;
    width: 20vw;
    white-space: nowrap;
  }
}

/*--------------------------------------------------------------
# about Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  padding: 150px 0 130px;
  background-color: #0f0c1b;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#about h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
}

#about p {
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.about_text {
  padding-left: 100px;
}

.about_btn {
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 14px 40px;
  color: #fff;
  letter-spacing: 1px;
  color: #fe5181;
  background-color: transparent;
  border-style: solid;
  border-color: #fe5181;
}

.about_img {
  width: 40vw;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 1026px) {
  .about_content {
    flex-direction: column;
  }

  .about_img {
    width: 80vw;
  }

  .about_text {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# why Section
--------------------------------------------------------------*/
#why {
  width: 100%;
  padding: 150px 0 130px;
  background-color: transparent;
  background-image: linear-gradient(139deg, #FE5181 12%, #FF34DF 70%);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#why h1 {
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#why p {
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.why_btn {
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 14px 40px;
  color: #fff;
  letter-spacing: 1px;
  color: #fe5181;
  background-color: transparent;
  border-style: solid;
  border-color: #fe5181;
}

.why_img {
  width: 40vw;
}

.why_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#why ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  gap: 40px;
  padding: 10px;
}

#why ul i {
  font-size: 20px;
}

#why ul li {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

#why ul li p {
  padding: 0;
  margin: 0;
}

#why .bold {
  font-weight: 600;
  font-size: 18px;
}

.why_thin {
  font-size: 14px;
}

.why_fade {
  opacity: 0.8;
}

#why .icon {
  background: #0f0c1b;
  border-radius: 50%;
  padding: 10px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1026px) {
  .why_content {
    flex-direction: column;
  }

  .why_img {
    width: 80vw;
  }

  .why_text {
    padding: 0;
  }
}

.img_hoverScale:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/*--------------------------------------------------------------
# slider Section
--------------------------------------------------------------*/
#slider {
  width: 100%;
  padding: 100px 0 80px;
  background-color: #0f0c1b;
  overflow: hidden;
  position: relative;
  color: #fff;
}

#slider h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#slider p {
  letter-spacing: 0.8px;
}

/*--------------------------------------------------------------
# downl Section
--------------------------------------------------------------*/
#downl {
  width: 100%;
  padding: 100px 0 80px;
  background-color: #0f0c1b;
  overflow: hidden;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#downl h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#downl p {
  letter-spacing: 0.8px;
}

.downl_text p {
  color: #fe5181;
  margin: 10px 0 40px 0;
}

.downl_blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.downl_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background-color: #191a1e;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #fe5181;
}

.downl_block.grad {
  background-color: transparent;
  background-image: linear-gradient(180deg, #FE5181 0%, #FF34DF 100%);
}

.downl_block img {
  width: 100%;
}

@media (max-width: 1026px) {
  .downl_content {
    flex-direction: column;
  }

  .downl_blocks {
    flex-direction: column;
    gap: 40px;
  }
}

/*--------------------------------------------------------------
# downl Section
--------------------------------------------------------------*/
#guide {
  width: 100%;
  background-color: #0f0c1b;
  overflow: hidden;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#guide h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 80px 0;
}

#guide p {
  letter-spacing: 0.8px;
}

.guide_num {
  padding: 35px 40px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #FE5181 0%, #FF34DF 100%);
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .1);
  font-size: 42px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 10px;
}

#guide ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

#guide ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  width: 20vw;
}

#guide ul li p {
  padding: 0;
  margin: 0;
}

.guide_step {
  color: #fe5181;
  font-weight: 600;
  font-size: 18px;
}

/*--------------------------------------------------------------
# faq Section
--------------------------------------------------------------*/
#faq {
  width: 100%;
  background-color: #0f0c1b;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#faq h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#faq p {
  letter-spacing: 0.8px;
}

.faq_img {
  width: 50%;
  height: fit-content;
}

.faq_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.faq_content_bottom {
  display: flex;
  justify-content: space-between;
}

/*--------------------------------------------------------------
# testim Section
--------------------------------------------------------------*/
#testim {
  width: 100%;
  background-color: #0f0c1b;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#testim h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

#testim p {
  letter-spacing: 0.8px;
  line-height: 30px;
}

.testim_content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testim_left {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/testim.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 660px;
  width: 560px;
  border-radius: 20px;
}

.testim_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 660px;
  width: 560px;
  border-radius: 20px;
  text-align: left;
  background-color: #191A1E;
}

.testim_item {
  padding: 32px;
}

.testim_border {
  height: 1px;
  background: #353434;
}

.testim_name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.testim_right img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

/*Getapp*/

.getapp_container {
  display: flex;
  align-items: center;
  background-color: transparent;
  background-image: linear-gradient(135deg, #FE5181 0%, #FF34DF 100%);
  padding: 40px 40px 0;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 1140px;
}

#getapp h1 {
  color: #fff;
  margin-bottom: 20px;
}

.getapp_left {
  text-align: center;
  max-width: 540px;
  letter-spacing: 2px;
}

.getapp_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.getapp_right img {
  width: 100%;
}

.getapp_btn {
  text-transform: uppercase;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 14px 40px;
  color: #fe5181;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.getapp_btn:hover {
  background: #57d16f;
}

#getapp svg {
  opacity: 0.6;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fcfc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #3fbbc0;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
}

.testimonials .testimonial-item img {
  width: 100%;
}

.slider_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.slider_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.swiper-button-prev {
  position: static;
  margin: 0;
  padding: 0;
}

.swiper-button-next {
  position: static;
  margin: 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Frequently Asked Questioins
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
  color: #fff;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding-bottom: 20px;
  color: #fff;
}

.faq .faq-list .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 16px 25px;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  background-color: transparent;
  background-image: linear-gradient(220deg, #FE5181 0%, #FF34DF 100%);
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, .35);
  width: 40vw;
  max-width: 600px;
}

.faq .faq-list i {
  font-size: 16px;
  font-size: 30px;
  font-style: normal;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 25px;
  opacity: 0.6;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  color: #fff;
}

.faq .faq-list .collapsed:hover {
  cursor: pointer;
  color: #fff;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #0f0c1b;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

#footer .footer_bold {
  font-weight: 600;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 1140px;
}

#footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#footer a {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
}

#footer a:hover {
  color: #36c688;
}

#footer .footer-top {
  padding: 0 0 30px 0;
  background-color: transparent;
  background-image: linear-gradient(135deg, #FE5181 0%, #FF34DF 100%);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}