.double_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1100px;
  max-height: 440px;
  margin: 60px auto;
  z-index: 2;
}

.double_block_block {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 200px 20px;
  color: #fff;
  transition: all 1s ease-in-out;
}

.double_block_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.double_block_block-1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.2) 100%), url("../img/double-1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.double_block_block-2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.2) 100%), url("../img/double-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.double_block_title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.double_block_description {
  font-size: 14px;
}

.double_block_btn {
  font-size: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.double_block_btn:hover {
  font-size: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #fff;
  background: #fff;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 768px) {
  .double_block {
    width: 100vw;
    flex-wrap: wrap;
    margin: 0px auto 60px auto;
    max-height: 100%;
  }
}