.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 15px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 600;
}

.gallery-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.gallery-card img:hover {
  transform: scale(1.04);
}


@media screen and (max-width: 768px) {
  .categories-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 568px) {
  .gallery-card {
    width: 100%;
  }
}