.offers_with_discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

.offers_with_discount-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 15px;
  text-align: center;
}

.offer-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.offer-card-title {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 600;
}

.offer-card-price {
  font-size: 14px;
  font-weight: 600;
  color: #b61818;
  margin-bottom: 6px;
}

.offer-card-price-cross {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .offers_with_discount-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 568px) {
  .offer-card {
    width: 100%;
  }
}